node_modules
venv/
secret/
documentation/~$rsports Tracking API documentation.docx
mapserver/
swag/config/
teams/
celerylog/
.idea/
processorlog/
static/bundles/local/
weblog/
src/media/
MSFS2020_client/build/
MSFS2020_client/airsports/build/
MSFS2020_client/airsports_client.egg-info/
*.pyc
gpxpy
data
*.log
*.gz
*.whl
*.lp
FC
*.zip
*.sqlite3
private_values.yml
/config/firebase-admin.json
/helm/private_values_gcloud.yml
/helm/private_values_gcloud.yaml
private_values_gcloud.yaml
webpack-stats-local.json
src/polygon.png
assets_vite
/assets/assets/
/assets/bundles/
src/static/css/tailwindcss
src/static/css/output.css
nohup.out
manifest.json
.env.*
src/static/output.css
firebase-admin
manifest.json*
scraper_venv/
*.cache
src/reports/
src/.coverage
airsports_static/src/pages/docs/05_Results_Service_Guide.md
.venv/
.hermes/
*:Zone.Identifier
S10 - 2026 A4  - TASK CATALOGUE FOR CHAMPIONSHIPS.pdf
.review-notes/
/static/