node_modules/
venv/
assets/
secret/
documentation/~$rsports Tracking API documentation.docx
mapserver/
swag/config/
teams/
celerylog/
.idea/
processorlog/
static/bundles/local/
weblog/
src/media/
MSFS2020_client/build/
MSFS2020_client/airsports/build/
MSFS2020_client/airsports_client.egg-info/
*.pyc
gpxpy
data
*.log
*.gz
*.whl
*.lp
FC
*.zip
*.sqlite3
private_values.yml
/config/firebase-admin.json
/helm/private_values_gcloud.yml
/helm/private_values_gcloud.yaml
