twisted==22.10.0
numpy==1.24.2
scipy==1.10.1
pandas==1.5.3
pyepsg==0.4.0
matplotlib==3.7.0
iso8601==1.1.0
django==3.2.18
djangorestframework==3.14.0
gunicorn==20.1.0
requests
django-webpack-loader
Pillow
drf-yasg
fastkml
websocket-client
geopy
mysqlclient
gpxpy
parameterized
django-solo
redis
hiredis
django-redis-cache
python-redis-lock
gpx_converter
lxml
django-guardian
djangorestframework-guardian
drf-nested-routers
nvector
pyproj
django-countries
django-formtools
django-bootstrap-dynamic-formsets
django-bootstrap4==22.3
django-jenkins
phonenumbers
Babel
django-phonenumber-field
django-crispy-forms
celery
segno
django-qr-code
django-google-analytics-app
channels
channels_redis
pytz
tzlocal
django-timezone-field
django-multiselectfield
pulp
drf-firebase-auth==1.0.0
django-use-email-as-username
SimConnect
eval7
utm
ogn-client
uvicorn[standard]
fpdf2
flower
django-celery-results
django-celery-beat
qrcode
whitenoise
django-storages[azure]
html2text
kubernetes
kubernetes-job
pymbtiles
coverage
pep8
pykalman
pylatex
crispy-bootstrap4==2022.1
firebase_admin