{% extends "base_tailwind.html" %}
{% load static %}
{% block content %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Sorry</h1>
      <p class="py-6">The page you are looking for either does not exist or you do not have permission to view it.</p>
      <p>Feel free to proceed to the map page at <a href="/" class="link link-primary">airsports.no</a></p>
       <p>
    Read more on our help pages: <a href="https://home.airsports.no/faq/" class="link link-primary">https://home.airsports.no/faq/</a>
    </p>
      <img src="{% static 'img/AirSportsLiveTracking.png' %}" alt="Logo" class="mx-auto my-4 w-1/2">
      <div class="mockup-code">
        <pre data-prefix=">"><code>404: Not found</code></pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}