{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <h2>Sorry</h2>
    The page you are looking for either does not exist or you do not have permission to view it.<br>
    Feel free to proceed to the map page at <a href="/">airsports.no</a>
    <p>
    Read more on our help pages: <a href="https://home.airsports.no/faq/">https://home.airsports.no/faq/</a>
    </p>
    <img src="/static/img/AirSportsLiveTracking.png" alt="Logo" style="width: 50%;">
    <p>
    <pre>404: Not found</pre>
    </p>
{% endblock %}