{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- Make the app on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Air Sports Live Tracking" data-rh="true">
    <meta property="og:description" content="Flying competition tracking and social platform" data-rh="true">
    <meta property="og:image" content="https://airsports.no/static/img/manifest.png" data-rh="true">
    <link rel='manifest' href="{% url 'tracking_manifest' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
    <link rel="stylesheet" href="{% static 'cesium/cesium.css' %}?rnd=40" media="screen">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/airsports_no_text.png' %}">
    <title>AirSports</title>
    {% block document_configuration %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    {#    <script#}
    {#            src="https://code.jquery.com/jquery-3.3.1.min.js"#}
    {#            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
    {#            crossorigin="anonymous"></script>#}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8072T2CHC6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-8072T2CHC6');
    </script>
</head>
<body>
<header>
    {% if not skip_nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img style="height: 30px"
                                                  src="{% static 'img/airsports_live_tracking_white.png' %}"
                                                  alt="AirSports"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if perms.display.add_contest %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
                               data-toggle="dropdown">Contest management</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'contest_list' %}">My contests</a>
                                <a class="dropdown-item" href="{% url 'useruploadedmap_list' %}">My maps</a>
                                <a class="dropdown-item" href="{% url 'editableroute_list' %}">Route editor</a>

                                {% if user.is_superuser  and user.is_staff %}
                                    <hr/>
                                    <a class="dropdown-item" href="{% url 'statistics' %}">Statistics</a>
                                    <a class="dropdown-item" href="{% url 'user_emails' %}">User emails</a>
                                    <a class="dropdown-item" href="{% url 'welcome_example' %}">Welcome email</a>
                                    <a class="dropdown-item" href="{% url 'contestcreation_example' %}">Contest creation
                                        email</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="https://home.airsports.no/">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resultsservice/">Results service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/participation/">Participation</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next=/">Log in</a></li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ user.email }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'password_change' %}?next=/">Change password</a>
                                {% if perms.display.change_contest %}
                                    <a class="dropdown-item" href="{% url 'token' %}">Token </a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'logout' %}?next=/">Log out </a>
                            </div>
                        </li>

                    {% endif %}
                    {% if user.is_superuser  and user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    {% endif %}
</header>
<main role="main">
    <div class="container-fluid">
        {% block contentfluid %}
        {% endblock %}
    </div>
    <div class="container-xl">
        {% if messages %}
            <div class="row" style="padding-left: 18%;z-index: 100;position: fixed">{% include 'messages.html' %}</div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</main>
<script src="{% static 'js/csrf.js' %}"></script>
</body>
</html>