{% load static %}
{% load frontend_urls %}
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- Make the app on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1">
    <meta property="og:title" content="Air Sports Live Tracking" data-rh="true">
    <meta property="og:description" content="Flying competition tracking and social platform" data-rh="true">
    <meta property="og:image" content="{% static 'img/manifest.png' %}" data-rh="true">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    <link rel='manifest' href="{% url 'tracking_manifest' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/airsports_no_text.png' %}">
    <title>AirSports</title>
    <script>
        document.configuration = {
            STATIC_FILE_LOCATION:  "{% get_static_prefix %}",
            currentUserEmail: "{{ user.email }}"

        }
        document.configuration.getCookie = (name) => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        document.configuration.csrftoken = document.configuration.getCookie('csrftoken');
    </script>
    {% block document_configuration %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-71DRK6HYHD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-71DRK6HYHD');
    </script>
    <script>
        // Function to set the theme based on system preference
        function setSystemTheme() {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }

        // Set theme on initial load
        setSystemTheme();

        // Listen for changes in system theme preference
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setSystemTheme);
    </script>
</head>
<body class="flex flex-col h-screen overflow-x-hidden">
<header class="flex-none relative" style="z-index: 5000;">
    {% if not skip_nav %}
        <div class="navbar bg-neutral text-neutral-content min-h-[32px] sm:min-h-[32px] relative z-[5000] py-0 px-2">
            <div class="navbar-start">
                <a class="btn btn-ghost text-xl h-8 min-h-0 py-0 px-2" href="/">
                    <img class="h-4 sm:h-8" src="{% static 'img/airsports_live_tracking_white.png' %}" alt="AirSports">
                </a>
            </div>
            <div class="navbar-end">
                <div class="flex-none lg:hidden">
                    <button id="menu-toggle" class="btn btn-square btn-ghost h-8 w-8 min-h-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                    </button>
                </div>

                <div id="main-menu" class="hidden lg:flex lg:items-center lg:w-auto">
                    <ul class="menu menu-horizontal px-1">
                        {% if perms.display.add_contest %}
                            <li>
                                <details>
                                    <summary>Management</summary>
                                    <ul class="p-2 bg-neutral rounded-t-none z-[5001]">
                                        <li><a href="{% fe_url 'MISSION_DASHBOARD' %}?tab=editorContests">My contests</a></li>
                                        <li><a href="{% url 'useruploadedmap_list' %}">My maps</a></li>
                                        <li><a href="{% fe_url 'ROUTE_EDITOR_LIST' %}">Route editor</a></li>
                                        {% if user.is_superuser and user.is_staff %}
                                            <li><a href="{% url 'statistics' %}">Statistics</a></li>
                                            <li><a href="{% url 'user_emails' %}">User emails</a></li>
                                            <li><a href="{% url 'welcome_example' %}">Welcome email</a></li>
                                            <li><a href="{% url 'contestcreation_example' %}">Contest creation email</a></li>
                                        {% endif %}
                                    </ul>
                                </details>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated and not perms.display.add_contest %}
                            <li><a href="{% fe_url 'UPGRADE_ORGANIZER' %}" class="text-primary font-bold">Become an Organizer</a></li>
                        {% endif %}
                        <li><a href="https://airsports.no/faq" target="_blank">FAQ</a></li>
                        {% if user.is_superuser and user.is_staff %}
                            <li><a href="/admin/">Admin</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}?next=/">Log in</a></li>
                        {% else %}
                            <li>
                                <details>
                                    <summary>Profile</summary>
                                    <ul class="p-2 bg-neutral rounded-t-none z-[5001] right-0">
                                        <li>{{ user.email }}</li>
                                        <li><a href="{% url 'password_change' %}?next=/">Change password</a></li>
                                        {% if perms.display.change_contest %}
                                            <li><a href="{% url 'token' %}">Token</a></li>
                                        {% endif %}
                                        <li>
                                            <form id="logout-form" action="{% url 'logout' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit">Log out</button>
                                            </form>
                                        </li>
                                    </ul>
                                </details>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</header>
<main role="main" class="flex-1 flex flex-col min-h-0 overflow-y-auto overflow-x-hidden relative z-[1]">
        {% block contentfull %}
        {% endblock %}
    {% if messages %}
        <div class="fixed top-20 left-1/2 -translate-x-1/2 z-[2000] w-full max-w-sm px-4">
            {% include 'messages.html' %}
        </div>
    {% endif %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.getElementById('menu-toggle');
        const mainMenu = document.getElementById('main-menu');

        menuToggle.addEventListener('click', function() {
            if (mainMenu.classList.contains('hidden')) {
                mainMenu.classList.remove('hidden');
                mainMenu.classList.add('block', 'absolute', 'top-8', 'left-0', 'w-full', 'bg-neutral', 'shadow-lg', 'py-2');
                mainMenu.querySelector('ul').classList.remove('menu-horizontal');
                mainMenu.querySelector('ul').classList.add('menu-vertical');

                // Adjust positioning of nested dropdowns for vertical display
                const detailElements = mainMenu.querySelectorAll('details');
                detailElements.forEach(detail => {
                    const ul = detail.querySelector('ul');
                    if (ul) {
                        ul.classList.remove('rounded-t-none', 'z-50', 'right-0');
                        ul.classList.add('w-full');
                    }
                });


            } else {
                mainMenu.classList.add('hidden');
                mainMenu.classList.remove('block', 'absolute', 'top-16', 'left-0', 'w-full', 'bg-neutral', 'shadow-lg', 'py-2');
                mainMenu.querySelector('ul').classList.remove('menu-vertical');
                mainMenu.querySelector('ul').classList.add('menu-horizontal');

                // Revert positioning of nested dropdowns
                const detailElements = mainMenu.querySelectorAll('details');
                detailElements.forEach(detail => {
                    const ul = detail.querySelector('ul');
                    if (ul) {
                        ul.classList.add('rounded-t-none', 'z-50', 'right-0');
                        ul.classList.remove('w-full');
                    }
                });
            }
        });
    });
</script>
</body>
</html>