{% extends 'base_tailwind.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl max-w-md mx-auto">
        <div class="card-body">
            {% if validlink %}
                <h1 class="card-title">Set a new password!</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-control">
                            <label class="label" for="{{ field.id_for_label }}">
                                <span class="label-text">{{ field.label }}</span>
                            </label>
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="input input-bordered" required>
                            {% if field.help_text %}
                            <div class="label">
                                <span class="label-text-alt">{{ field.help_text|safe }}</span>
                            </div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="label">
                                    <span class="label-text-alt text-error">{{ error }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Change my password</button>
                    </div>
                </form>
            {% else %}
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}