.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#heightSliderLabel, #heightValue {
    vertical-align: top;
}

.backdrop a:link, .backdrop a:visited, .backdrop a:hover {
    color: #fff
}

.loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background: url(Source/Images/ajax-loader.gif) center no-repeat;
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

#myinfobox {
    position: absolute;
    right: 0px;
    top: 300px;
}


.nowrap {
    white-space: nowrap;
}

.score {
    float: left;
    width: 45%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#main_div {
    height: 100%;
    width: 100%;
    position: fixed;
}

#cesiumContainer {
    width: 55%;
    height: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*font-family: sans-serif;*/
    /*position: absolute;*/
    /*background: #000;*/
}

.myAirplaneIcon {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.myAnnotationIcon {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.myGateIcon {
    text-align: center;
    line-height: 20px;
    font-size: large;
}

.ReactTable {
    width: 100%;
}

.commaList {
    display: inline;
    list-style: none;
    padding: 0px;
}

.commaList li {
    display: inline;
}

.commaList li::after {
    content: ", ";
}

.commaList li:last-child:after {
    content: ""
}

.greenBackground {
    background-color: lightgreen;
}

.redBackground {
    background-color: lightcoral;
}

#logoContainer {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100px;
}