.backdrop {
    display: inline-block;
    /*background: rgba(42, 42, 42, 0.9);*/
    /*border-radius: 5px;*/
    /*border: 1px solid #444;*/
    /*padding: 5px 10px;*/
    font-size: large;
    overflow-y: auto;
    left: 70px;
    top: 70px;
    position: fixed;
    z-index: 2;
    /*border-radius: 0 0 25px 25px;*/
}

.titleWrapper {
    position: fixed;
    display: inline-block;
    left: 70px;
    top: 20px;
    z-index: 2;
    border-radius: 25px 25px 0 0;
    background-color: #666666;
}

.compactTable {
    width: 500px;
    max-height: 50%;
}

.largeTable {
    right: 120px;
    max-height: 90%;
}

.compactTitle {
    width: 500px;
}

.largeTitle {
    right: 120px;
}


.preWrap {
    white-space: pre-wrap;
}

.gateTimesText {
    font-size: small;
}

.lowerThirds {
    position: fixed;
    width: 45%;
    /*max-height: 30%;*/
    bottom: 20px;
    right: 150px;
    z-index: 2;
}

.lowerThirdsProfileImage {
    /*height: 30%;*/
}

.lowerThirdsTeamImage {
    width: 100%;
}

.transparent {
    background-color: transparent;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.personalFlag {
    width: 40px;
}

.progressWheel {
    width: 45px;
    height: 45px;
}

.shrinkLink {
    float: right;
}


.taskTitle {
    font-size: xx-large;
    vertical-align: middle;
    color: aliceblue;
}

#logoButton {
    height: 80px;
    width: 80px;
}

#menuButton {
    height: 40px;
    width: 40px;
}

#logoButtonWrapper {
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 2;
}


#returnLink {
    top: 20px;
    right: 20px;
    position: fixed;
    z-index: 2;
}

#returnLinkImage {
    height: 80px;
    width: 80px;
}

.menuButtonImage {

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 150px;*/
}

#heightSliderLabel, #heightValue {
    vertical-align: top;
}


.loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
}

#map-holder {
    height: 100%;
    width: 100%;
    position: fixed;
    /*display: block;*/
}

.fill {
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
}


html, body {
    height: 100%;
}

/*table{height: 500px; overflow-y: scroll;display:block;}*/
/*th { position: sticky; top: 0; }*/

#cesiumContainer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    display: block;
    z-index: 1;
}

.myAirplaneIcon {
    text-align: center;
    /*line-height: 20px;*/
    font-size: 20px;
}

.myAnnotationIcon {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.myGateIcon {
    text-align: center;
    line-height: 20px;
    font-size: large;
}

.ReactTable {
    width: 100%;
}

.commaList {
    display: inline;
    list-style: none;
    padding: 0px;
}

.commaList li {
    display: inline;
}

.commaList li::after {
    content: ", ";
}

.commaList li:last-child:after {
    content: ""
}

.greenBackground {
    background-color: lightgreen;
}

.redBackground {
    background-color: lightcoral;
}

#logoContainer {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100px;
}


/**
 * Profile image component
 */
.team-badge {
    width: 400px;
}

.profile-header-container {
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    /*padding: 54px;*/
}

.profile-header-img > img.img-square {
    /*width: 120px;*/
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    /*margin-top: 43px;*/
}


.aircraft-header-container {
    margin: 0 auto;
    /*text-align: center;*/
}

.aircraft-header-img {
    /*padding: 54px;*/
}

.aircraft-header-img > img.img-long {
    width: 150px;
    border: 2px solid #51D2B7;
}

.aircraft-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}