{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if object %}
        <h2>Update Contest {{ object }}</h2>
    {% else %}
        <h2>Create new Contest </h2>
    {% endif %}
    {{ form.media }}
    {{ form.errors }}
    <form method="post" class="form" enctype="multipart/form-data">
        {% crispy form %}
    </form>
    <script type="text/javascript">
        $('#id_start_time').datetimepicker({dateFormat: "yy-mm-dd"});
        $('#id_finish_time').datetimepicker({dateFormat: "yy-mm-dd"});
    </script>
{% endblock %}
