{% extends "base.html" %}
{% block content %}
    <H1>Contest permissions {{ contest }}</H1>
    <a href="{% url 'contest_details' contest.pk %}">Back to contest</a>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>User</th>
            <th>Permission</th>
            <th>Actions</th>
        </tr>
        </thead>

        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.permission }}</td>
                <td>
                    <a href="{% url 'contest_permissions_change' contest.pk user.pk %}">Change permissions</a> |
                    <a href="{% url 'contest_permissions_delete' contest.pk user.pk %}">Delete permissions</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'contest_permissions_add' contest.pk %}">Add permissions for new user</a>
{% endblock %}