{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    {% if object %}
        <h2>Update Contest {{ object }}</h2>
    {% else %}
        <h2>Create new Contest </h2>
    {% endif %}
    {{ form.media }}
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
    <script type="text/javascript">
        $('#id_start_time').datetimepicker({dateFormat: "yy-mm-dd"});
        $('#id_finish_time').datetimepicker({dateFormat: "yy-mm-dd"});
    </script>
{% endblock %}
