{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load guardian_tags %}
{% load tz %}
{% block document_configuration %}
    <script>
        document.configuration = {
            is_superuser: {{ user.is_superuser|lower }},
        }
    </script>
{% endblock %}
{% block content %}
    <H1>Contests</H1>
    <div id="root"></div>
    {% if perms.display.add_contest %}
        <a href="{% url 'contest_create' %}">New contest</a>
        {% if user.is_superuser %}
            | <a href="{% url 'person_list' %}">Person overview</a>
        {% endif %}
    {% endif %}
    {% render_bundle 'ContestList' %}
{% endblock %}