{% extends "base_tailwind.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load lucide %}

{% block content %}
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
        <div class="card-body">
            <h2 class="card-title">Manage permissions for contest {{ contest }}</h2>
            <div class="alert alert-info mt-4">
                <div>
                  {% lucide "info" class="stroke-current shrink-0 w-6 h-6" %}
                  <span>
                    <b>View:</b> Allows viewing the contest and tasks, but no modifications.<br>
                    <b>Change:</b> Allows modifying the contest and tasks.<br>
                    <b>Delete:</b> Allows all actions, including deletion.<br>
                    Assigning "nothing" removes all permissions.
                  </span>
                </div>
            </div>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}