{% extends "base_tailwind.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #map_location {
        width: 100% !important; /* Adjust width as needed */
        height: 300px; /* Adjust height as needed */
    }
</style>
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
        <div class="card-body">
            <h2 class="card-title">
                {% if object %}
                    Update Contest {{ object }}
                {% else %}
                    Create new Contest
                {% endif %}
            </h2>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            {{ form.media }}
            <form method="post" class="form" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const startTime = document.getElementById('id_start_time');
        if (startTime) {
            startTime.type = 'date';
        }
        
        const finishTime = document.getElementById('id_finish_time');
        if (finishTime) {
            finishTime.type = 'date';
        }

        const location = document.getElementById('id_location');
        if (location) {
            location.readOnly = true;
        }
    });
</script>
{% endblock %}