{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load guardian_tags %}
{% load tz %}
{% block document_configuration %}
    <script>
        document.configuration = {
            is_superuser: {{ user.is_superuser|lower }},
        }
    </script>
{% endblock %}
{% block content %}
    {% if perms.display.add_contest %}
        <div class="row float-right">
            <a class="btn btn-primary" href="{% url 'contest_create' %}" style="margin-bottom: 10px">New contest</a>&nbsp;
            {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'person_list' %}" style="margin-bottom: 10px">Person overview</a>
            {% endif %}
        </div>
    {% endif %}
    <H1>Contests</H1>
    <div id="root"></div>
    {% render_bundle 'ContestList' %}
{% endblock %}