{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
    <h2>Manage permissions for contest {{ contest }}</h2>
    <p>
        <b>View</b> permission allows the user to view the contest and all its navigation tasks, but not make any modifications.<br/>
        <b>Cange</b> allows the user to modify the contest and all its navigation tasks.<br/>
        <b>Delete</b> allows the user to do everything, including deleting the contest and all its navigation tasks.<br/>
        Assigning the permission "nothing" removes all permissions from the user.
      </p>

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>{% endblock %}
