{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    {{ form.media }}
    {{ form.errors }}
    <h2>Contestant scheduling</h2>
    Scheduling the contestants should ideally be done before the task starts when there are no existing contestants in
    the task. Scheduling requires that there are no contestants from the first tracking start time to the latest
    finished by time when creating a schedule and will warn accordingly if this is the case to give you the opportunity
    to clean out the interval or change the initial time.

    The system first uses a simple algorithm to create a valid good schedule that ensures that no aircraft overtakes
    another while respecting the constraints below. It then optionally applies a linear programming (LP)
    optimiser to minimise the latest finish point time (to make the final contestant complete the task as early as
    possible).
    <p>
        <a href="{% url 'navigationtask_detail' navigation_task.pk %}">Back to task details</a>
    </p>
    <p>
        <a href="#" onclick="select_all()">Select all</a>/<a href="#" onclick="deselect_all()">Deselect all</a>
    </p>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Optimise</button>
        {% endbuttons %}
    </form>

    <script type="text/javascript">
        function select_all() {
            $('input[type=checkbox]').prop('checked', true);
        }

        function deselect_all() {
            $('input[type=checkbox]').prop('checked', false);
        }

    </script>
    <script type="text/javascript">
        $('#id_first_takeoff_time').datetimepicker({dateFormat: "yy-mm-dd"});
    </script>

{% endblock %}
