{% extends "base.html" %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var rawData = $.ajax({
                url: "/display/navigationtask/{{ navigation_task.pk }}/contestants_timeline_data/",
                dataType: "json",
                async: false
            }).responseJSON
            for (const row of rawData.rows) {
                row.c[2].v = new Date(row.c[2].v)
                row.c[3].v = new Date(row.c[3].v)
            }
            console.log(rawData)
            var dataTable = new google.visualization.DataTable(rawData);
            console.log(dataTable)
            // set a padding value to cover the height of title and axis values
            var paddingHeight = 50;
// set the height to be covered by the rows
            var rowHeight = dataTable.getNumberOfRows() * 35;
// set the total chart height
            var chartHeight = rowHeight + paddingHeight;
            var options = {
                height: chartHeight,
                timeline: {
                    groupByRowLabel: true,
                }
            }


            chart.draw(dataTable, options);
        }
    </script>
{% endblock %}
{% block content %}
    <p>&nbsp;</p>
    <img style="float: right;width: 250px"
                          src="{% static 'img/AirSportsLiveTracking.png' %}"
                          alt="AirSports">
    <h3>Timeline "{{ navigation_task.name }}"</h3>
    <h5>{{ navigation_task.earliest_takeoff_time|date:"Y-m-d" }}</h5>
    <div id="timeline"></div>
    The duration from the earliest takeoff to the latest landing is {{ navigation_task.duration }}
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">
    <img style="float: right;width: 250px"
                          src="{% static 'img/AirSportsLiveTracking.png' %}"
                          alt="AirSports">
    <h3>Timetable "{{ navigation_task.name }}"</h3>
        <h5>{{ navigation_task.earliest_takeoff_time|date:"Y-m-d" }}</h5>
    </p>

    <table class="table table-condensed">
        <thead>
        <th>Contestant</th>
        <th>Planning start</th>
        <th>Takeoff</th>
        <th>Start point</th>
        <th>Landing</th>
        <th>Tracker start</th>
        <th>Tracker stop</th>
        </thead>
        <tbody>
        {% for contestant in navigation_task.contestant_set.all %}
            <tr>
                <td>{{ contestant }}</td>
                <td>{% if contestant.adaptive_start %}Adaptive{% else %}{{ contestant.planning_time|date:"H:i:s" }}{% endif %}</td>
                <td>{% if contestant.adaptive_start %}Adaptive{% else %}{{ contestant.takeoff_time|date:"H:i:s" }}{% endif %}</td>
                <td>{% if contestant.adaptive_start %}Adaptive{% else %}{{ contestant.starting_point_time|date:"H:i:s" }}{% endif %}</td>
                <td>{% if contestant.adaptive_start %}Adaptive{% else %}{{ contestant.landing_time_after_final_gate|date:"H:i:s" }}{% endif %}</td>
                <td>{{ contestant.tracker_start_time|date:"H:i:s" }}</td>
                <td>{{ contestant.finished_by_time|date:"H:i:s" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="page-break-after: always;">&nbsp;</p>
    <p style="page-break-before: always;">
    <p>The timeline shows takeoff time to landing time. If a contestant has adaptive start time, the timeline shows tracker start time to tracker finish time for that contestant, and it is marked with "Adaptive".</p>
    <a href="#" onclick="print()" style="float: left;font-size: 2rem;margin-right: 10px"><i class="mdi mdi-print"></i></a>
    Print this page to get a nice scheduling overview. It contains page breaks so you should get the timeline and
        timetable on separate pages. Consider printing in landscape if space allows.</p>
    <a class="btn btn-primary" href="{% url 'navigationtask_detail' navigation_task.pk %}">Back</a>

{% endblock %}