{% extends "base.html" %}
{% block content %}
    <H1>Contest permissions {{ contest }}</H1>
    <p>Assigning the permission "nothing" removes all permissions from the user. View permission allows the user to view the contest and all its navigation tasks, but not make any modifications. Change allows the user to modify the contest and all its navigation tasks, including adding and removing contestants.  Delete allows the user to do everything, including deleting the contest or any or its navigation tasks.</p>

    <a href="{% url 'contest_details' contest.pk %}">Back to contest</a>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>User</th>
            <th>Permission</th>
            <th>Actions</th>
        </tr>
        </thead>

        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.permission }}</td>
                <td>
                    <a href="{% url 'contest_permissions_change' contest.pk user.pk %}">Change permissions</a> |
                    <a href="{% url 'contest_permissions_delete' contest.pk user.pk %}">Delete permissions</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'contest_permissions_add' contest.pk %}">Add permissions for new user</a>
{% endblock %}