{% extends "base.html" %}
{% load guardian_tags %}
{% load tz %}
{% block content %}
    <H1>Contests</H1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Task</th>
            <th>Start time</th>
            <th>Finish time</th>
        </tr>
        </thead>

        {% for contest in object_list %}
            {% get_obj_perms request.user for contest as "contest_permissions" %}

            <tr>
                <td>
                    <a href="{% url 'contest_details' contest.pk %}">{{ contest.name }} ({{ contest.share_string }})</a>
                </td>
                <td>
                    {{ contest.start_time|timezone:contest.time_zone|date:"Y-m-d H:i:s e" }}
                </td>
                <td>
                    {{ contest.finish_time|timezone:contest.time_zone|date:"Y-m-d H:i:s e" }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if perms.display.add_contest %}
        <a href="{% url 'contest_create' %}">New contest</a>
        {% if user.is_superuser %}
            | <a href="{% url 'person_list' %}">Person overview</a>
        {% endif %}
    {% endif %}
{% endblock %}