{% extends "base.html" %}
{% load static %}
{% block content %}
    <H1>Profile images in {{ contest }}</H1>
    <a href="{% url 'contest_details' contest.pk %}">Back to contest</a>
    <div class="alert alert-info" role="alert">This site uses the service <a href="https://www.remove.bg/">remove.bg</a>
        to automatically remove backgrounds
        from profile images and crop the foreground to fit. The free version of the service has a limit of 50 background
        removals per month. The service will fail if this number has been exceeded.
    </div>
    <div class="d-flex flex-wrap justify-content-between">
        {% for person in object_list %}
            <div class="p-2 card" style="width: 18rem">
                {% if person.picture %}
                    <img class="card-img-top profile-image-header" src="{{ person.picture.url }}"/>
                {% else %}
                    <div class="img-container">
                        <img class="card-img-top profile-image-header img-attributed"
                             src="{% static 'img/profile_missing.png' %}"/>
                        <a href="https://commons.wikimedia.org/wiki/File:Missing_photo.svg" class="img-attribution">Wikimedia</a>
                    </div>
                {% endif %}
                <div class="card-body">
                    <div><a href="{% url 'upload_profile_picture' contest.pk person.pk %}">
                        <svg style="float: right"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-upload" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                        </svg>
                    </a><h5>{{ person.first_name }} {{ person.last_name }}</h5></div>
                    {% if person.picture %}
                        <a href="{% url 'clear_profile_image_background' contest.pk person.pk %}">Autoremove
                            background</a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}