{% load static %}
<img style="text-align: center;width: 60%;display:block;margin-left: auto;margin-right: auto;" src="{% static '/img/AirSportsLiveTracking.png' %}"/>
<h1>Privacy Policies, SLA & Disclaimer - Air Sports Praktisk Flyging</h1>

<h2>Disclaimer – scope and use</h2>

<p>Air Sports Praktisk Flyging ("ASPF") is a Norwegian independent association that focuses on networking between pilots
    and the development of systems for competitive flying for small aircraft and general aviation. ASPF is a
    non-commercial volunteer association based in Norway, and subject to Norwegian law. This is an unofficial
    translation of the Norwegian original Disclaimer and the Norwegian original takes precedence in case of conflicting
    information in this translation. Only the Norwegian version is legally correct and binding.</p>

<p>The Terms of Service here also cover airsports.no, with associated mobile applications and all subpages related to
    ASPF covering registration, tracking applications and terms of use.</p>

<p>ASPF hereinafter means the association Air Sports Praktisk Flyging, including their systems, websites and
    applications. USER is hereinafter the legal person who uses ASPF in capacity as organizer of a competition,
    pilot/athlete in a competition, visitor or user of the website, or person who uses ASPF for their own training or
    position tracking. Live Tracking is an ongoing GPS position indication on airsports.no, during competition or out of
    competition.</p>

<h2>Website and cookies</h2>

<p>ASPF may use cookies on our websites. Cookies are small text files that are stored on your computer. Most browsers,
    such as Safari, Chrome and Firefox, automatically accept cookies. This means that you must change settings in your
    browser if you do not want the text files to be stored on your device (phone, computer or tablet). However, this may
    mean that the website does not work as intended.</p>

<p>We use the analysis tool Google Analytics and internal analysis systems to analyze visitor data on our websites and
    on our member pages. This information is stored on, inter alia, Google's servers in the United States and is subject
    to Google's privacy policy. To protect the privacy of our visitors, we have anonymized the IP address of our
    visitors. This is in line with The Norwegian Data Protection Authority’s recommendations.</p>

<p>Our website may contain errors or omissions. The tracking system and scoring is an estimate based on several specific
    conditions and may deviate from the competition's final result. USER is responsible for checking that other
    additional systems are used to verify correct scoring, in addition to ASPF. Live Tracking is primarily intended for
    unofficial use and for entertainment purposes only. ASPF does not guarantee that there will be no errors on the site
    or in source codes, models, errors in external systems or errors related to third-party vendors.</p>

<h2>SLA</h2>

<p>Live Tracking is a hobby project and is largely based on volunteer work. The solution is intended to help the
    aviation community promote the sport to spectators and participants. Although ASPF employs professional and
    reputable subcontractors, ASPF cannot guarantee uptime or guarantee against errors on the site. ASPF will, however,
    do its best to have the highest possible service level for its services based on the conditions ASPF can offer.</p>

<p>Live Tracking is based on standard rules in precision flying. The models have been tested at various competitions,
    but due to the complexity of precision flying, deviations may occur due to different layouts. USER may experience
    discrepancies due to this complexity and ASPF does not take responsibility for these discrepancies. Therefore, ASPF
    recommends that the USER uses a backup or another alternative to ensure quality results. ASPF offers the service
    only "as is". For competitions that require a higher degree of service or quality assurance, this can be agreed upon
    in each case directly. USER can purchase a service agreement related to an event where necessary.</p>

<p>Operation of the service presupposes operational support from a private, national or international aviation
    organization. It is up to the aviation association or private sponsors if they want to support ASPF’s operation of
    the service at cost. As long as ASPF’s service costs are covered by external sponsors, Live Tracking and associated
    applications will be open and available to all USERS who wish to use the site. If there is no operating support,
    ASPF must charge the individual USER to cover costs or it may result in the site being closed. The site, or even
    competitions, can then be closed without reservation and further notice! Coverage of costs includes operation and
    server rental, as well as some operational maintenance to keep source codes updated to a technical minimum. ASPF
    will endeavor to notify USER if shutdown becomes necessary.</p>

<p>Live Tracking is programmed and maintained by one single person at ASPF. This means that the USER is aware of the
    limitation and vulnerability factor this entails. Failure by ASPF to make changes or corrections may result in
    limitation or termination of service. Live Tracking is as it appears today "as is", and it is a prerequisite that
    ASPF has the capacity and finances for maintenance and operation if the service is to remain for public use. ASPF
    will also use payment services for additional applications to ensure operations for USER.</p>

<h2>Live Tracking</h2>

<p>Live Tracking is intended as an audience-friendly solution for competitive flying. It provides an estimated result
    list and position. It is also intended for training or for more informal competition use.</p>

<p>Live Tracking uses algorithms to obtain position and calculate points based on given rules in competitive flying. It
    is the local organizer of the competition, or USER, who is responsible for ensuring that the points system and
    prerequisites in use are in line with the competition guidelines. ASPF takes no responsibility for calculation of
    the points, and USER must ensure that they run their own quality assurance of the points. It is recommended that you
    use your own dedicated logger with software to ensure the quality of correct scoring during competition. Live
    Tracking is only an audience-friendly solution to promote the sport and be able to give a temporary estimate of
    points in a competition.</p>

<p>When using Live Tracking, all active USERS will be visible on the global map, if USER has activated location data
    from a tracker set up with the server. This provides a map view of all active USERS and is for entertainment
    purposes only. Although the global map can provide a good picture of movements in airspace, this is by no means
    intended as a security tool for air traffic monitoring of airspace. Live Tracking should not be used as a security
    measure.</p>

<h2>GPS tracking</h2>

<p>Live Tracking depends on a GPS receiver that sends the aircraft’s/USER's position. To obtain the position, ASPF uses
    a platform from TRACCAR. Traccar is an open solution for mobile GPS tracking, and you can read more at
    www.traccar.org. The solution is hosted on a separate server (on prem) and is not part of any shared system. ASPF
    assumes no responsibility for the accuracy, processing, or use of the data that pass through third-party solutions.
    External GPS receivers are also the USER's responsibility. A GPS receiver needs an internet connection and power, as
    well as the ability to forward position. ASPF takes no responsibility for such external devices or the costs of
    using these. Local mobile coverage and location of the receiver can also affect the data and results and are the
    USER's responsibility. USERS who want to use an external GPS device, please see separate user guide for connecting
    these. ASPF does not provide any personal information about USER to external tracking devices, and these only use
    position and ID verification.</p>

<h2>ASPF Live Tracking Mobile Application (app)</h2>

<p>ASPF's mobile application is based on Traccar's open solution. ASPF takes no responsibility for any third-party
    solution related to Traccar's systems. The application is a simplification to avoid errors related to the Live
    Tracking system. The application needs access to location, GPS and mobile data to work. USER must accept these terms
    when using the application. The application will also require battery and data access. USER must make sure that the
    phone has sufficient battery, and any data costs that may be incurred by use is USER's responsibility. ASPF takes no
    responsibility for the use of the application, and the application is intended for entertainment purposes only.
    Absence of mobile coverage, interference with the signals or other conditions that cause poor mobile or GPS coverage
    will affect data quality and results may be useless. All use is therefore USER's responsibility. The mobile
    application is only intended for entertainment, and for those who only have a mobile phone as an alternative to
    tracking or logging. ASPF recommends that you use your own dedicated logger, as well as dedicated software to ensure
    the quality of the results.</p>

<p>Upon activation, the mobile application will send a position to the Traccar server at airsports.no. The application
    will automatically turn off tracking 12 hours after activation. This is to save battery and for privacy reasons in
    relation to publishing position on the global map. It is still recommended that you turn off tracking physically
    after use. The application will also save your locations as files on your phone. You can physically delete these
    whenever you want, otherwise these are stored on your phone. The log can be uploaded for use in calculating
    points.</p>

<p>Payment for the application as a subscriber follows the terms of iOS or Android and thus local conditions always
    apply. Payment for the application is used by ASPF to cover development costs as well as maintenance and
    operation.</p>

<p>The USER of the mobile application accepts these terms.</p>

<h2>Approval of GPS position and manipulation</h2>

<p>Use of external third-party GPS or mobile applications to share the USER's position is the USER's responsibility.
    Users accept that data are shared on airsports.no and accept that the USER is responsible for all third-party
    solutions, including the third-party solution via the mobile application provided by Traccar. In case of doubt, it
    is USER's responsibility to familiarize themselves with the terms of traccar.org or the issuer of third-party
    solutions. USER is also aware that GPS position can be manipulated, and ASPF does not take responsibility for
    cheating/manipulation in a competition. Again, it is recommended that Live Tracking be used only for entertainment
    and backup purposes.</p>

<h2>Registration and privacy for USER</h2>

<p>USERS who are to use Live Tracking for competition or training must register their profile on airsports.no or via
    ASPF's mobile phone application. This profile will be linked to a tracking device and is a prerequisite for the
    functionality of the system.</p>

<p>No sensitive personal information is required to register a USER in ASPF. The information is secured through
    usernames and passwords required for changes, but the information is openly available to the public via results
    services and competitions. Personal information will be restricted to what is necessary, but some information will
    always be available. A USER who is the administrator of the competition, will have access to USERS’ profiles and
    will have access to change the information. USER agrees upon registration that the information provided may be
    public information, although ASPF will endeavor to restrict personal information in relation to use value.
    Information such as e-mail and telephone number will by default be restricted and not publicly available inside
    ASPF. Only those with organizer rights have access to all information inside ASPF. However, the information may be
    used by third-party systems as discussed in the next paragraph.</p>

<p>Personal data may also be processed by third-party systems in addition to ASPF. These can be points calculation
    programs in competitions, organizers' systems or modules for displaying results, etc. ASPF is built on an open model
    that aims to integrate with other systems in competitive flying. USER agrees that the information may be used
    unsolicited by third parties and ASPF takes no responsibility for how third parties use the information. ASPF can
    only guarantee that ASPF will not sell or share personal information for direct commercial or financial
    purposes.</p>

<h2>Membership and payment</h2>

<p>The services will to varying degrees require paid membership. Memberships have different durations. ASPF will offer
    the service as long as there are active subscribers. For payment services, ASPF uses a qualified third party. This
    can be via operating systems for mobile application providers or other payment services. USER is responsible for
    familiarizing themselves with the respective guidelines and must make a separate assessment of these, even if ASPF
    considers them to be qualified and safe.</p>

<h2>Guidelines for children</h2>

<p>ASFP is not a service designed for children under 18 years of age. If anyone under the age of 18 wishes to use the
    service as a member, they must have the written consent of a guardian or parent. If it is discovered that someone
    under the age of 18 has registered without consent, ASPF can delete the USER and all data. If anyone under the age
    of 18 or their parents have any questions about the ASPF service or information, please contact Support.</p>

<h2>Storage and data</h2>

<p>ASPF will store the information of the USER for as long as the USER so desires. USER can request having their profile
    deleted. USER's profile will then be deleted from ASPF, but first name, last name, email, flight, aviation club and
    tracking logs will be stored in the results service. USER can, however, request that their profile be anonymized,
    and name and e-mail will then be deleted, but the tracking log will be saved for the sake of results service and
    competition. If USER wants their profile to be removed and/or anonymized, contact support[at]airsports.no. During
    Live Tracking, GPS data from the tracking device with key information are stored and displayed on the map via ASPF's
    server. The data from a competition will only be deleted if the competition is deleted. Live Tracking makes parts of
    the USER's information publicly available on the server. This is to show USER on the map. This information can be
    retrieved by external parties by being copied, recorded or converted into video files. USER agrees with this, and
    ASPF cannot take responsibility for how external third parties use the information or retain the data from Live
    Tracking. For mobile applications or trackers, location data can also be stored locally, and it is USER's
    responsibility to delete the data. This is done on the device used.</p>

<h2>Rights</h2>

<p>USER has the right to receive information about which personal data is processed in ASPF's database. If USER wants to
    know what personal information ASPF processes about themselves, this USER can send a request to the Board of
    Directors of ASPF. If USER believes that information about them is incorrect or misleading, USER should contact
    ASPF's Board. Please contact us at support[at]airsports.no.</p>

<p>If you believe that ASPF has not complied with your rights in accordance with the Personal Data Act, you have the
    right to complain to ASFP or to the Norwegian Data Protection Authority. If the information is used by an organizer
    or a third-party solution, the complaint must be directed to the organizer or relevant third-party supplier.</p>

<h2>Security</h2>

<p>Security is important to us, but the entire Live Tracking system is available on the Internet via our server, which
    means that you can never be 100 % safe from attacks or misuse. ASPF will always do what we can to keep security as
    tight as possible but encourage USERS not to leave information of a sensitive nature or use a weak or repetitive
    username/password. It is also recommended that USERS change passwords regularly and protect their profile by
    controlling the information and not providing more details than necessary. In the event of a data attack, ASPF
    cannot guarantee uptime or availability.</p>

<h2>External third-party suppliers</h2>

<p>External partners and third-party solutions that ASPF uses in its systems are not ASPF's responsibility. These are
    providers we trust, used to provide USER with the necessary functionality, but ASPF takes no responsibility for the
    third-party provider's functionality, accuracy or processing of data or information provided to or received by the
    third-party provider. This is fully USER’s responsibility as a user of ASPF's solutions, and thus also USER’s
    responsibility to familiarize themselves with the terms of third-party suppliers. ASPF assumes no responsibility for
    availability, uptime or other operations performed by a subcontractor.</p>

<p>Today's subcontractors are:
<ul>
    <li>Traccar, at https://www.traccar.org/</li>
    <li>Flight Contest, at https://flightcontest.de/</li>
    <li>Mobile applications available via iOS and Android</li>
    <li>Amazon, for hosting airsports.no‘s server</li>

    <li>Microsoft Flight Simulator 2020 for simulator Live Tracking competitions</li>
    <li>Local organizers and competition administrators</li>
</ul>
</p>
<h2>Updates</h2>

<p>This disclaimer may be amended and updated regularly. USER must therefore make sure to keep up to date with ASPS’s
    current terms. The latest version is 1.1.</p>

<h2>Contact</h2>

<p>For any questions related to our terms and conditions, please contact us at support[at]airsports.no.</p>