{% extends 'base_tailwind.html' %}
{% load frontend_urls %}
{% load lucide %}
{% block content %}
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h1 class="card-title text-2xl font-bold">Route permissions {{ editableroute }}</h1>
            <div class="alert alert-info mt-4">
              <div>
                {% lucide "info" class="stroke-current shrink-0 w-6 h-6" %}
                <span>
                  <b>View:</b> Allows viewing the route, but not make any modifications.<br/>
                  <b>Change:</b> Allows modifying the route.<br/>
                  <b>Delete:</b> Allows all actions, including deleting the route.<br/>
                  Assigning the permission "nothing" removes all permissions from the user.
                </span>
              </div>
            </div>
            
            <div class="my-4">
                <a href="{% fe_url 'ROUTE_EDITOR_LIST' %}" class="btn btn-secondary">Back to Routes</a>
            </div>

            <div class="overflow-x-auto">
                <table class="table table-sm w-full">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Permission</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td><span class="badge badge-lg">{{ user.permission }}</span></td>
                        <td>
                            <a href="{% url 'editableroute_permissions_change' editableroute.pk user.pk %}" class="link">Change permissions</a> |
                            <form method="post" action="{% url 'editableroute_permissions_delete' editableroute.pk user.pk %}" class="inline" onsubmit="return confirm('Remove all permissions for {{ user.email }}?');">
                              {% csrf_token %}
                              <button type="submit" class="link link-error">Delete permissions</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-actions justify-start mt-4">
                <a href="{% url 'editableroute_permissions_add' editableroute.pk %}" class="btn btn-primary">Add permissions for new user</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}