{% extends "base.html" %}
{% block content %}
    <H1>My routes</H1>
    <div class="card-columns">
        {% for object in object_list %}
            <div class="card border-dark">
                {% if object.thumbnail %}
                    <img class="card-img-top" src="{{ object.thumbnail.url }}">{% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text">
                        <a href="/routeeditor/{{object.id}}/">Edit</a> |
                        <a href="{% url 'editableroute_createnavigationtask' object.pk %}">Create task</a> |
                        <a href="{% url 'editableroute_copy' object.pk %}">Copy</a> |
                        <a href="{% url 'editableroute_delete' object.pk %}">Delete</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if perms.display.add_editableroute %}
        <div class="row col">
            <a class="btn btn-primary" href="/routeeditor/" style="margin-bottom: 10px">New route</a>
        </div>
    {% endif %}
{% endblock %}