{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Flight order configuration for {{ navigation_task }}</h2>
    <form method="post" class="form">
        <div class="alert alert-warning"><b>Caution: Map generation may require several minutes. Using large zoom levels
            (e.g., above 12) with significant scales (e.g., 1:200,000 or higher) could result in an out of memory error.
            If this occurs, kindly decrease the zoom level (use a lower number). Be sure to test map generation when
            changing the values here.</b></div>

        {% crispy form %}

        <div id="picker"></div>
        <script src="{% static 'js/iro.min.js' %}"></script>
        <script>
            var colorPicker = new iro.ColorPicker('#picker', {
                color: "{{ initial_color }}"
            });
            colorPicker.on('color:change', function (color) {
                // log the current color as a HEX string
                console.log(color.hexString);
                document.getElementById('id_map_line_colour').value = color.hexString;
            });
            const mapSource = document.getElementById("id_map_source")
            const customMap = document.getElementById("id_map_user_source")
            const zoomSelect = document.getElementById("id_map_zoom_level")

            function updateMapSourceVisibility(first) {
                if (customMap.value === "") {
                    document.getElementById("div_id_map_source").style.display = ""
                    setOptions(mapSource.value, first)
                } else {
                    document.getElementById("div_id_map_source").style.display = "none"
                    setOptions(customMap.value, first)
                }
            }

            customMap.onchange = function (e) {
                updateMapSourceVisibility(false)
            }

            const zoomLevels = JSON.parse('{{ system_map_zoom_levels | safe }}')

            mapSource.onchange = (event) => {
                setOptions(event.target.value, false)
            }

            updateMapSourceVisibility(true)

            function setOptions(mapName, first) {
                const currentSelected = parseInt(zoomSelect.value)
                while (zoomSelect.options.length > 0) {
                    zoomSelect.remove(0)
                }
                const zoomOptions = zoomLevels[mapName] ?? [1, 15, 12]
                for (let i = zoomOptions[0]; i <= zoomOptions[1]; i++) {
                    zoomSelect.add(new Option(i, i, false, (i === currentSelected && first) || (i === zoomOptions[2] && !first)))
                }
            }

        </script>
    </form>
{% endblock %}
