{% extends "base_tailwind.html" %}
{% load static %}
{% load frontend_urls %}
{% load vite %}

{% block head %}
    {{ block.super }}
    {% vite_css 'src/FrontendApp.tsx' %}
{% endblock %}

{% block document_configuration %}
<script>
    document.configuration = {
        ...document.configuration,
        is_superuser: {{ user.is_superuser | lower }},
        isAuthenticated: {{ user.is_authenticated | lower }},
        {% if perms.display.add_contest %}
        isOrganizer: true,
        {% else %}
        isOrganizer: false,
        {% endif %}
        createRouteUrl: "{% fe_url 'ROUTE_EDITOR_CREATE' %}",
        showCimaTaskTypes: {{ show_cima_task_types|yesno:"true,false" }},
        visibleTaskTypeGroups: {{ visible_task_type_groups|safe }},
        gateCimaTaskVisibility: {{ gate_cima_task_visibility|yesno:"true,false" }},

        }
</script>

{% endblock %}
{% block contentfull %}
    <div id="root" class="flex-1 flex flex-col min-h-0">
        <img class="centered" src="{% static 'img/loading_airplane.gif' %}" alt="loading..." />
    </div>
{% vite_js 'src/FrontendApp.tsx' %}
{% endblock %}