{% extends "base_tailwind.html" %}
{% load static %}
{% block document_configuration %}
<script>
    document.configuration = {
        ...document.configuration,
        is_superuser: {{ user.is_superuser | lower }},
        isAuthenticated: {{ user.is_authenticated | lower }},

        createRouteUrl: "/frontend/routeeditor/create/",

        }
</script>

{% endblock %}
{% block contentfull %}
    <div id="root">
        <img class="centered" src="{% static 'img/loading_airplane.gif' %}" alt="loading..." />
    </div>
<script type="module" src="{% static 'js/FrontendApp-bundle.js' %}"></script>
{% endblock %}