{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block document_configuration %}
    <script>
        document.configuration = {
            {% if perms.display.change_contest %}
                managementLink: "{% url 'contest_list' %}",
            {% else %}
                managementLink: null,
            {% endif %}
            {% if user.is_authenticated %}
                loginLink: null,
                logoutLink: "{% url 'logout' %}",
                authenticatedUser: true,
            {% else %}
                loginLink: "{% url 'login' %}",
                logoutLink: null,
                authenticatedUser: false,
            {% endif %}
            firstVisit: {% if first_visit %}true{% else %}false{% endif %},
            navigationTaskMap: navigationTaskId => "{% url 'frontend_view_map' 0 %}".replace("0", navigationTaskId)
        }
    </script>
{% endblock %}

{% block content %}
    <div id="root">
        <img class="centered" src="{% static 'img/loading.gif' %}" alt="loading..."/>
    </div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'GlobalMap' %}
{% endblock %}
