{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <h2>Generate map</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% crispy form %}
        <h5>Pick a colour for the route</h5>
        <div id="picker" style="margin-bottom: 15px"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{ redirect }}" class="btn btn-secondary">Back</a>
        <script src="{% static 'js/iro.min.js' %}"></script>
        <script>
            var colorPicker = new iro.ColorPicker('#picker', {
                color: "#00f"
            });
            colorPicker.on('color:change', function (color) {
                // log the current color as a HEX string
                console.log(color.hexString);
                document.getElementById('id_colour').value = color.hexString;
            });
            const customMap = document.getElementById("id_user_map_source")
            customMap.onchange = function (e) {
                if (customMap.value === "") {
                    document.getElementById("div_id_map_source").style.display = ""
                } else {
                    document.getElementById("div_id_map_source").style.display = "none"
                }
            }
        </script>
    </form>
{% endblock %}
