{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
    <h2>Generate map</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <h5>Pick a colour for the route</h5>
        <div id="picker" style="margin-bottom: 15px"></div>
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ redirect }}" class="btn btn-secondary">Back</a>
        {% endbuttons %}
        <p class="text-muted">Map generation can take a minute or two</p>
        <script src="{% static 'js/iro.min.js' %}"></script>
        <script>
            var colorPicker = new iro.ColorPicker('#picker', {
                color: "#00f"
            });
            colorPicker.on('color:change', function (color) {
                // log the current color as a HEX string
                console.log(color.hexString);
                document.getElementById('id_colour').value = color.hexString;
            });
        </script>
    </form>
{% endblock %}
