{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_table }}
                {% endfor %}
            {% else %}
                {{ wizard.form.as_table }}
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "submit" %}"/>
    </form>
    <script type="text/javascript">
        $('#id_2-start_time').datetimepicker({dateFormat: "yy-mm-dd"});
        $('#id_2-finish_time').datetimepicker({dateFormat: "yy-mm-dd"});
    </script>

{% endblock %}