{% extends "base.html" %}
{% load tz %}
{% load guardian_tags %}
{% block content %}
    {% get_obj_perms request.user for object.contest as "contest_permissions" %}
    <H1>Navigation task {{ object.name }} in contest {{ object.contest.name }}</H1>
    {{ object.start_time|timezone:object.contest.time_zone|date:"Y-m-d H:i:s e" }} -
    {{ object.finish_time|timezone:object.contest.time_zone|date:"Y-m-d H:i:s e" }}
    <p>
        <a href="{% url 'contest_details' object.contest.pk %}">Back to contest</a> |
        <a href="{% url 'frontend_view_map' object.pk %}">Track</a> |
        <a href="{% url 'navigationtask_rules' object.pk %}">Rules</a> |
        {% if "change_contest" in contest_permissions %}
            <a href="{% url 'navigationtask_addcontestants' object.pk %}">Add contestants</a>|
            <a href="{% url 'navigationtask_removecontestants' object.pk %}">Remove contestants</a> |
            <a href="{% url 'navigationtask_exportresults' object.pk %}">Export results</a> |
        {% endif %}
        <a href="{% url 'navigationtask_contestantstimeline' object.pk %}">Timeline</a> |
        <a href="{% url 'navigationtask_qr' object.pk %}">QR</a> |
        <a href="{% url 'navigationtask_map' object.pk %}">Map</a>
        {% if "change_contest" in contest_permissions %}
            <br/><a href="{% url 'navigationtask_delete' object.pk %}">delete</a>
            | <a href="{% url 'navigationtask_update' object.pk %}">update</a>
            {#                            | <a href="{% url 'navigationtask_scoreoverride' navigation_task.pk %}">Score override</a>#}
        {% endif %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Contestant number</th>
            <th>Team</th>
            <th>Tracker start time</th>
            <th>Takeoff time</th>
            <th>Finish by time</th>
            <th>Airspeed</th>
            <th>Wind</th>
            <th>State</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        </thead>

        {% for contestant in object.contestant_set.all %}
            <tr>
                <td>{{ contestant.contestant_number }}</td>
                <td><a href="{% url 'contestant_update' contestant.pk %}">{{ contestant.team }}</a></td>
                <td>{{ contestant.tracker_start_time|date:"Y-m-d H:i:s e" }}</td>
                <td>{{ contestant.takeoff_time|date:"Y-m-d H:i:s e" }}</td>
                <td>{{ contestant.finished_by_time|date:"Y-m-d H:i:s e" }}</td>
                <td>{{ contestant.air_speed|stringformat:"d" }}</td>
                <td>
                    <a href="{% url 'contestant_gate_times' contestant.pk %}">{{ contestant.wind_direction|stringformat:"03d" }}/{{ contestant.wind_speed }}</a>
                </td>
                <td>{{ contestant.contestanttrack.current_state }}</td>
                <td>{{ contestant.contestanttrack.score|stringformat:"d" }}</td>
                <td>
                    {% if object.is_poker_run %}
                        {% if "change_contest" in contest_permissions %}
                            <a href="{% url 'contestant_cards_list' contestant.pk %}">playing cards</a> |
                        {% endif %}
                    {% endif %}
                    {% if "change_contest" in contest_permissions %}
                        <a href="{% url 'contestant_delete' contestant.pk %}">delete</a> |
                        <a href="{% url 'contestant_stop_calculator' contestant.pk %}"
                           onclick="return confirm('Are you sure you want to stop the calculator?')">stop calculator</a>
                        |
                    {% endif %}
                    <a href="{% url 'contestant_map' contestant.pk %}">map</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'contestant_create' object.pk %}">New contestant</a>

{% endblock %}
