{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block document_configuration %}
    <script>
        document.configuration = {
            ...document.configuration,
            contest_id: {{ contest_id }},
            navigation_task_id: {{ navigation_task_id }},
            liveMode: {{ live_mode }},
            displayMap: {{ display_map }},
            displayTable: {{ display_table }},
            playback: {{ playback }},
            resultsServiceLink: "/resultsservice/" + {{ contest_id }} + "/taskresults/",
            canChangeNavigationTask: {{ can_change_navigation_task }},
            navigationTaskManagementLink: "{{ navigation_task_management_link }}",
            playbackLink: "{{ playback_link }}",
            liveMapLink: "{{ live_map_link }}",
        }
    </script>
{% endblock %}

{% block contentfluid %}
    <div class="row">
        <div id="root">
            <img class="centered" src="{% static 'img/loading_airplane.gif' %}" alt="loading..."/>
        </div>
    </div>
    {% render_bundle 'Root' %}
{% endblock %}
