{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}

{% block content %}
    {% get_obj_perms request.user for navigation_task.contest as "contest_permissions" %}
    <h2>Scorecard for <a href="{% url 'navigationtask_detail' navigation_task.pk %}">{{ navigation_task.name }}</a></h2>
        <div class="p-2 card card-body">
            <div class="card-title"><h4>Track rules</h4></div>
            <div class="card-text">
                <table class="table-condensed">
                    {% for field in scorecard_form %}
                        <tr>
                            <td><b>{{ field.label }}:</b></td>
                            <td>{{ field.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if "change_contest" in contest_permissions %}
                    <a class="btn btn-primary" href="{% url 'navigationtask_updatescorecardoverride' navigation_task.pk %}">Update values</a>
                {% endif %}
            </div>
        </div>
    <div class="d-flex flex-wrap">
        {% for gate in gate_score_forms %}
            <div class="p-2 card card-body">
                <div class="card-title"><h4>Gate rules for {{ gate.name }}</h4></div>
                <div class="card-text">
                    <table class="table-condensed">
                        {% for field in gate %}
                            <tr>
                                <td><b>{{ field.label }}:</b></td>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if "change_contest" in contest_permissions %}
                        <a class="btn btn-primary" href="{% url 'navigationtask_updategatescoreoverride' navigation_task.pk gate.pk %}">Update
                            values</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
