{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
    <h2>Share navigation task {{ navigation_task }}</h2>
    <b>Note:</b> changing the status to public or unlisted will also change the contest of the navigation task to at least that sharing level. E.g. if the navigation task is made public, the contest is also changed to public.
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Share</button>
        {% endbuttons %}
    </form>{% endblock %}
