{% extends "base.html" %}
{% block content %}
    <H1>Teams for contest {{ contest }}</H1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Pilot</th>
            <th>Copilot</th>
            <th>Aeroplane</th>
            <th>Club</th>
            <th>Actions</th>
        </tr>
        </thead>

        {% for object in object_list %}
            <tr>
                <td>{{ object.crew.member1 }}</td>
                <td>{{ object.crew.member2 }}</td>
                <td>
                    {{ object.aeroplane }}
                </td>
                <td>{{ object.club }}</td>
                <td>
                    <a href="{% url 'team_wizard' contest.pk object.pk %}">Change team</a> |
                    <a href="{% url 'remove_team' contest.pk object.pk %}">Remove team</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'create_team' contest.pk %}">Add team</a>
{% endblock %}