{% load static %}
<style>
    #toc_container {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        float:left;

        font-size: 95%;
        margin-bottom: 1em;
        margin-right: 1em;
        padding: 10px;
        width: auto;
    }

    .toc_title {
        font-weight: 700;
        text-align: center;
    }

    #toc_container li, #toc_container ul, #toc_container ul li {
        {#list-style: outside none none !important;#}
    }
</style>
<a href="/"><img style="text-align: center;width: 60%;display:block;margin-left: auto;margin-right: auto;"
                 src="/static/img/AirSportsLiveTracking.png"/></a>
<h1 id="english_disclaimer">Privacy Policies, SLA & Disclaimer - Air Sports Praktisk Flyging</h1>
<div id="toc_container">
    <p class="toc_title">Contents</p>
    <ol class="toc_list">
        <li><a href="#english_disclaimer">English terms and conditions</a>
            <ol>
                <li><a href="#terms_and_conditions">Terms and conditions</a></li>
                <li><a href="#website_and_cookies">Website and cookies</a></li>
                <li><a href="#sla">SLA</a></li>
                <li><a href="#live_tracking">Live tracking</a></li>
                <li><a href="#gps_tracking">GPS tracking</a></li>
                <li><a href="#apps">ASPF Live Tracking Mobile Application (app)</a></li>
                <li><a href="#position_manipulation">Approval of GPS position and manipulation</a></li>
                <li><a href="#privacy">Registration and privacy for USER</a></li>
                <li><a href="#membership_and_payment">Membership and payment</a></li>
                <li><a href="#guidelines_for_children">Guidelines for children</a></li>
                <li><a href="#storage_and_data">Storage and data</a></li>
                <li><a href="#rights">Rights</a></li>
                <li><a href="#security">Security</a></li>
                <li><a href="#external_suppliers">External third-party suppliers</a></li>
                <li><a href="#updates">Updates</a></li>
                <li><a href="#contact">Contact</a></li>
            </ol>
        </li>
        <li><a href="#english_disclaimer">Norske brukervilkår</a>
            <ol>
                <li><a href="#terms_and_conditions_norwegian">Betingelser - omfang og bruk</a></li>
                <li><a href="#website_and_cookies_norwegian">Webside og informasjonskapsler</a></li>
                <li><a href="#sla_norwegian">SLA</a></li>
                <li><a href="#live_tracking_norwegian">Live Tracking</a></li>
                <li><a href="#gps_norwegian">GPS-tracking</a></li>
                <li><a href="#apps_norwegian">ASPF Live Tracking mobilapplikasjon (app)</a></li>
                <li><a href="#position_and_manipulation_norwegian">Godkjenning av GPS-posisjon og manipulasjon</a></li>
                <li><a href="#registration_norwegian">Registrering og personvern til BRUKER</a></li>
                <li><a href="#membership_norwegian">Medlemskap og betaling</a></li>
                <li><a href="#children_norwegian">Retningslinjer for barn</a></li>
                <li><a href="#storage_and_data_norwegian">Lagring og data</a></li>
                <li><a href="#rights_norwegian">Rettigheter</a></li>
                <li><a href="#security_norwegian">Sikkerhet</a></li>
                <li><a href="#external_norwegian">Eksterne tredjepartsleverandører</a></li>
                <li><a href="#updates_norwegian">Oppdatering</a></li>
                <li><a href="#contact_norwegian">Kontakt oss</a></li>
            </ol>
        </li>
    </ol>
</div>
<h2 id="terms_and_conditions">Terms and conditions</h2>

<p>Air Sports Praktisk Flyging ("ASPF") is a Norwegian independent association that focuses on networking between pilots
    and the development of systems for competitive flying for small aircraft and general aviation. ASPF is a
    non-commercial volunteer association based in Norway, and subject to Norwegian law. This is an unofficial
    translation of the Norwegian original Terms and conditions and the Norwegian original takes precedence in case of
    conflicting
    information in this translation. Only the Norwegian version is legally correct and binding.</p>

<p>The Terms of Service here also cover airsports.no, with associated mobile applications and all subpages related to
    ASPF covering registration, tracking applications and terms of use.</p>

<p>ASPF hereinafter means the association Air Sports Praktisk Flyging, including their systems, websites and
    applications. USER is hereinafter the legal person who uses ASPF in capacity as organizer of a competition,
    pilot/athlete in a competition, visitor or user of the website, or person who uses ASPF for their own training or
    position tracking. Live Tracking is an ongoing GPS position indication on airsports.no, during competition or out of
    competition.</p>

<h2 id="website_and_cookies">Website and cookies</h2>

<p>ASPF may use cookies on our websites. Cookies are small text files that are stored on your computer. Most browsers,
    such as Safari, Chrome and Firefox, automatically accept cookies. This means that you must change settings in your
    browser if you do not want the text files to be stored on your device (phone, computer or tablet). However, this may
    mean that the website does not work as intended.</p>

<p>We use the analysis tool Google Analytics and internal analysis systems to analyze visitor data on our websites and
    on our member pages. This information is stored on, inter alia, Google's servers in the United States and is subject
    to Google's privacy policy. To protect the privacy of our visitors, we have anonymized the IP address of our
    visitors. This is in line with The Norwegian Data Protection Authority’s recommendations.</p>

<p>Our website may contain errors or omissions. The tracking system and scoring is an estimate based on several specific
    conditions and may deviate from the competition's final result. USER is responsible for checking that other
    additional systems are used to verify correct scoring, in addition to ASPF. Live Tracking is primarily intended for
    unofficial use and for entertainment purposes only. ASPF does not guarantee that there will be no errors on the site
    or in source codes, models, errors in external systems or errors related to third-party vendors.</p>

<h2 id="sla">SLA</h2>

<p>Live Tracking is a hobby project and is largely based on volunteer work. The solution is intended to help the
    aviation community promote the sport to spectators and participants. Although ASPF employs professional and
    reputable subcontractors, ASPF cannot guarantee uptime or guarantee against errors on the site. ASPF will, however,
    do its best to have the highest possible service level for its services based on the conditions ASPF can offer.</p>

<p>Live Tracking is based on standard rules in precision flying. The models have been tested at various competitions,
    but due to the complexity of precision flying, deviations may occur due to different layouts. USER may experience
    discrepancies due to this complexity and ASPF does not take responsibility for these discrepancies. Therefore, ASPF
    recommends that the USER uses a backup or another alternative to ensure quality results. ASPF offers the service
    only "as is". For competitions that require a higher degree of service or quality assurance, this can be agreed upon
    in each case directly. USER can purchase a service agreement related to an event where necessary.</p>

<p>Operation of the service presupposes operational support from a private, national or international aviation
    organization. It is up to the aviation association or private sponsors if they want to support ASPF’s operation of
    the service at cost. As long as ASPF’s service costs are covered by external sponsors, Live Tracking and associated
    applications will be open and available to all USERS who wish to use the site. If there is no operating support,
    ASPF must charge the individual USER to cover costs or it may result in the site being closed. The site, or even
    competitions, can then be closed without reservation and further notice! Coverage of costs includes operation and
    server rental, as well as some operational maintenance to keep source codes updated to a technical minimum. ASPF
    will endeavor to notify USER if shutdown becomes necessary.</p>

<p>Live Tracking is programmed and maintained by one single person at ASPF. This means that the USER is aware of the
    limitation and vulnerability factor this entails. Failure by ASPF to make changes or corrections may result in
    limitation or termination of service. Live Tracking is as it appears today "as is", and it is a prerequisite that
    ASPF has the capacity and finances for maintenance and operation if the service is to remain for public use. ASPF
    will also use payment services for additional applications to ensure operations for USER.</p>

<h2 id="live_tracking">Live Tracking</h2>

<p>Live Tracking is intended as an audience-friendly solution for competitive flying. It provides an estimated result
    list and position. It is also intended for training or for more informal competition use.</p>

<p>Live Tracking uses algorithms to obtain position and calculate points based on given rules in competitive flying. It
    is the local organizer of the competition, or USER, who is responsible for ensuring that the points system and
    prerequisites in use are in line with the competition guidelines. ASPF takes no responsibility for calculation of
    the points, and USER must ensure that they run their own quality assurance of the points. It is recommended that you
    use your own dedicated logger with software to ensure the quality of correct scoring during competition. Live
    Tracking is only an audience-friendly solution to promote the sport and be able to give a temporary estimate of
    points in a competition.</p>

<p>When using Live Tracking, all active USERS will be visible on the global map, if USER has activated location data
    from a tracker set up with the server. This provides a map view of all active USERS and is for entertainment
    purposes only. Although the global map can provide a good picture of movements in airspace, this is by no means
    intended as a security tool for air traffic monitoring of airspace. Live Tracking should not be used as a security
    measure.</p>

<h2 id="gps_tracking">GPS tracking</h2>

<p>Live Tracking depends on a GPS receiver that sends the aircraft’s/USER's position. To obtain the position, ASPF uses
    a platform from TRACCAR. Traccar is an open solution for mobile GPS tracking, and you can read more at
    www.traccar.org. The solution is hosted on a separate server (on prem) and is not part of any shared system. ASPF
    assumes no responsibility for the accuracy, processing, or use of the data that pass through third-party solutions.
    External GPS receivers are also the USER's responsibility. A GPS receiver needs an internet connection and power, as
    well as the ability to forward position. ASPF takes no responsibility for such external devices or the costs of
    using these. Local mobile coverage and location of the receiver can also affect the data and results and are the
    USER's responsibility. USERS who want to use an external GPS device, please see separate user guide for connecting
    these. ASPF does not provide any personal information about USER to external tracking devices, and these only use
    position and ID verification.</p>

<h2 id="apps">ASPF Live Tracking Mobile Application (app)</h2>

<p>ASPF's mobile application is based on Traccar's open solution. ASPF takes no responsibility for any third-party
    solution related to Traccar's systems. The application is a simplification to avoid errors related to the Live
    Tracking system. The application needs access to location, GPS and mobile data to work. USER must accept these terms
    when using the application. The application will also require battery and data access. USER must make sure that the
    phone has sufficient battery, and any data costs that may be incurred by use is USER's responsibility. ASPF takes no
    responsibility for the use of the application, and the application is intended for entertainment purposes only.
    Absence of mobile coverage, interference with the signals or other conditions that cause poor mobile or GPS coverage
    will affect data quality and results may be useless. All use is therefore USER's responsibility. The mobile
    application is only intended for entertainment, and for those who only have a mobile phone as an alternative to
    tracking or logging. ASPF recommends that you use your own dedicated logger, as well as dedicated software to ensure
    the quality of the results.</p>

<p>Upon activation, the mobile application will send a position to the Traccar server at airsports.no. The application
    will automatically turn off tracking 12 hours after activation. This is to save battery and for privacy reasons in
    relation to publishing position on the global map. It is still recommended that you turn off tracking physically
    after use. The application will also save your locations as files on your phone. You can physically delete these
    whenever you want, otherwise these are stored on your phone. The log can be uploaded for use in calculating
    points.</p>

<p>Payment for the application as a subscriber follows the terms of iOS or Android and thus local conditions always
    apply. Payment for the application is used by ASPF to cover development costs as well as maintenance and
    operation.</p>

<p>The USER of the mobile application accepts these terms.</p>

<h2 id="position_manipulation">Approval of GPS position and manipulation</h2>

<p>Use of external third-party GPS or mobile applications to share the USER's position is the USER's responsibility.
    Users accept that data are shared on airsports.no and accept that the USER is responsible for all third-party
    solutions, including the third-party solution via the mobile application provided by Traccar. In case of doubt, it
    is USER's responsibility to familiarize themselves with the terms of traccar.org or the issuer of third-party
    solutions. USER is also aware that GPS position can be manipulated, and ASPF does not take responsibility for
    cheating/manipulation in a competition. Again, it is recommended that Live Tracking be used only for entertainment
    and backup purposes.</p>

<h2 id="privacy">Registration and privacy for USER</h2>

<p>USERS who are to use Live Tracking for competition or training must register their profile on airsports.no or via
    ASPF's mobile phone application. This profile will be linked to a tracking device and is a prerequisite for the
    functionality of the system.</p>

<p>No sensitive personal information is required to register a USER in ASPF. The information is secured through
    usernames and passwords required for changes, but the information is openly available to the public via results
    services and competitions. Personal information will be restricted to what is necessary, but some information will
    always be available. A USER who is the administrator of the competition, will have access to USERS’ profiles and
    will have access to change the information. USER agrees upon registration that the information provided may be
    public information, although ASPF will endeavor to restrict personal information in relation to use value.
    Information such as e-mail and telephone number will by default be restricted and not publicly available inside
    ASPF. Only those with organizer rights have access to all information inside ASPF. However, the information may be
    used by third-party systems as discussed in the next paragraph.</p>

<p>Personal data may also be processed by third-party systems in addition to ASPF. These can be points calculation
    programs in competitions, organizers' systems or modules for displaying results, etc. ASPF is built on an open model
    that aims to integrate with other systems in competitive flying. USER agrees that the information may be used
    unsolicited by third parties and ASPF takes no responsibility for how third parties use the information. ASPF can
    only guarantee that ASPF will not sell or share personal information for direct commercial or financial
    purposes.</p>

<h2 id="membership_and_payment">Membership and payment</h2>

<p>The services will to varying degrees require paid membership. Memberships have different durations. ASPF will offer
    the service as long as there are active subscribers. For payment services, ASPF uses a qualified third party. This
    can be via operating systems for mobile application providers or other payment services. USER is responsible for
    familiarizing themselves with the respective guidelines and must make a separate assessment of these, even if ASPF
    considers them to be qualified and safe.</p>

<h2 id="guidelines_for_children">Guidelines for children</h2>

<p>ASFP is not a service designed for children under 18 years of age. If anyone under the age of 18 wishes to use the
    service as a member, they must have the written consent of a guardian or parent. If it is discovered that someone
    under the age of 18 has registered without consent, ASPF can delete the USER and all data. If anyone under the age
    of 18 or their parents have any questions about the ASPF service or information, please contact Support.</p>

<h2 id="storage_and_data">Storage and data</h2>

<p>ASPF will store the information of the USER for as long as the USER so desires. USER can request having their profile
    deleted. USER's profile will then be deleted from ASPF, but first name, last name, email, flight, aviation club and
    tracking logs will be stored in the results service. USER can, however, request that their profile be anonymized,
    and name and e-mail will then be deleted, but the tracking log will be saved for the sake of results service and
    competition. If USER wants their profile to be removed and/or anonymized, contact support[at]airsports.no. During
    Live Tracking, GPS data from the tracking device with key information are stored and displayed on the map via ASPF's
    server. The data from a competition will only be deleted if the competition is deleted. Live Tracking makes parts of
    the USER's information publicly available on the server. This is to show USER on the map. This information can be
    retrieved by external parties by being copied, recorded or converted into video files. USER agrees with this, and
    ASPF cannot take responsibility for how external third parties use the information or retain the data from Live
    Tracking. For mobile applications or trackers, location data can also be stored locally, and it is USER's
    responsibility to delete the data. This is done on the device used.</p>

<h2 id="rights">Rights</h2>

<p>USER has the right to receive information about which personal data is processed in ASPF's database. If USER wants to
    know what personal information ASPF processes about themselves, this USER can send a request to the Board of
    Directors of ASPF. If USER believes that information about them is incorrect or misleading, USER should contact
    ASPF's Board. Please contact us at support[at]airsports.no.</p>

<p>If you believe that ASPF has not complied with your rights in accordance with the Personal Data Act, you have the
    right to complain to ASFP or to the Norwegian Data Protection Authority. If the information is used by an organizer
    or a third-party solution, the complaint must be directed to the organizer or relevant third-party supplier.</p>

<h2 id="security">Security</h2>

<p>Security is important to us, but the entire Live Tracking system is available on the Internet via our server, which
    means that you can never be 100 % safe from attacks or misuse. ASPF will always do what we can to keep security as
    tight as possible but encourage USERS not to leave information of a sensitive nature or use a weak or repetitive
    username/password. It is also recommended that USERS change passwords regularly and protect their profile by
    controlling the information and not providing more details than necessary. In the event of a data attack, ASPF
    cannot guarantee uptime or availability.</p>

<h2 id="external_suppliers">External third-party suppliers</h2>

<p>External partners and third-party solutions that ASPF uses in its systems are not ASPF's responsibility. These are
    providers we trust, used to provide USER with the necessary functionality, but ASPF takes no responsibility for the
    third-party provider's functionality, accuracy or processing of data or information provided to or received by the
    third-party provider. This is fully USER’s responsibility as a user of ASPF's solutions, and thus also USER’s
    responsibility to familiarize themselves with the terms of third-party suppliers. ASPF assumes no responsibility for
    availability, uptime or other operations performed by a subcontractor.</p>

<p>Today's subcontractors are:
<ul>
    <li>Traccar, at https://www.traccar.org/</li>
    <li>Flight Contest, at https://flightcontest.de/</li>
    <li>Mobile applications available via iOS and Android</li>
    <li>Amazon, for hosting airsports.no‘s server</li>

    <li>Microsoft Flight Simulator 2020 for simulator Live Tracking competitions</li>
    <li>Local organizers and competition administrators</li>
</ul>
</p>
<h2 id="updates">Updates</h2>

<p>These terms and conditions may be amended and updated regularly. USER must therefore make sure to keep up to date
    with ASPS’s
    current terms. The latest version is 1.1.</p>

<h2 id="contact">Contact</h2>

<p>For any questions related to our terms and conditions, please contact us at support[at]airsports.no.</p>
<hr/>
<h1 id="norsk_disclaimer">Betingelser</h1>
<a href="#english_disclaimer">English version above</a>
<h2 id="terms_and_conditions_norwegian">Betingelser - omfang og bruk</h2>
<p>Air Sports Praktisk Flyging ("ASPF") er en norsk uavhengig forening som fokuserer på nettverksbygging mellom piloter
    og utvikling av systemer for konkurranseflyging for småfly og «general aviation». ASPF er en ikke-kommersiell
    forening som baseres på frivillighet med utgangspunkt i Norge, og som er underlagt norsk lov. De juridiske vilkårene
    er derfor skrevet på norsk, men du kan finne en oversatt versjon øverst. Det understrekes at det kun er den norske
    utgaven som er rettmessig og juridisk korrekt.</p>
<p>Vilkårene her omfatter airsports.no, med dertil hørende mobilapplikasjoner og alle undersider knyttet til ASPF med
    registrering, tracking-applikasjoner og brukervilkår.</p>
<p>ASPF er heretter foreningen Air Sports Praktisk Flyging, inklusive systemet, websider og applikasjoner. BRUKER er
    heretter den juridiske personen som bruker ASPF som arrangør av konkurranse, pilot/utøver i konkurranse, besøkende
    eller bruker av hjemmesiden, eller person som bruker ASPF til egen trening eller posisjonsangivelse.
    Live Tracking er løpende GPS-posisjonsangivelse på airsports.no, under konkurranse eller utenom konkurranse.</p>
<h2 id="website_and_cookies_norwegian">Webside og informasjonskapsler</h2>
<p>ASPF kan bruke informasjonskapsler (cookies) på våre websider. Cookies er små tekstfiler som lagres på datamaskinen
    din. De fleste nettlesere, som for eksempel Safari, Chrome eller Firefox, har en automatisk aksept av cookies. Dette
    innebærer at du må endre innstillingene i nettleseren dersom du ikke ønsker at tekstfilene skal lagres på din enhet
    (telefon, datamaskin eller nettbrett). Dette kan imidlertid innebære at nettstedet ikke fungerer optimalt.</p>
<p>Vi bruker analyseverktøyet Google Analytics og interne analysesystemer for å analysere besøksdata på våre hjemmesider
    og på våre medlemssider. Denne informasjonen blir lagret på blant annet Googles servere i USA og er underlagt
    Googles retningslinjer for personvern. For å verne om våre besøkendes personvern, har vi anonymisert IP-adressen til
    våre besøkende. Dette er i tråd med Datatilsynets anbefalinger.</p>
<p>Websiden kan inneholde feil eller mangler. Tracking-systemet og poenggivningen er et estimat basert på en rekke
    forutsetninger og kan avvike fra konkurransens endelige resultat. BRUKER er selv ansvarlig for å kontrollere at det
    benyttes andre tilleggssystemer for å kontrollere at poenggivning blir korrekt, i tillegg til ASPF. Live Tracking er
    i hovedsak ment til uoffisiell bruk og kun til underholdning. ASPF tar forbehold om feil på siden, i kildekoder og
    modeller, feil i eksterne systemer eller feil knyttet til tredjepartsleverandører.</p>
<h2 id="sla_norwegian">SLA</h2>
<p>Live Tracking er et hobbyprosjekt og bygger i stor grad på dugnad fra frivillige. Løsningen er ment for å hjelpe
    flymiljøet til å fremme sporten for tilskuere og deltagere. Selv om ASPF benytter profesjonelle og anerkjente
    underleverandører, kan ASPF ikke garantere for oppetid eller garantere mot feil på siden. ASPF vil dog gjøre sitt
    beste for å ha høyest mulig service på sine tjenester ut fra de forutsetninger ASPF kan tilby.</p>
<p>Live Tracking baseres på standardregler innen presisjonsflyging. Modellene er testet på ulike konkurranser, men
    grunnet kompleksiteten i presisjonsflyging kan avvik forekomme grunnet ulike oppsett. BRUKER kan oppleve avvik
    grunnet denne kompleksiteten og ASPF tar ikke ansvar for disse avvikene. Derfor anbefales det fra ASPF at BRUKER
    benytter en backup eller et annet alternativ for å kvalitetssikre resultater. ASPF tilbyr tjenesten kun som den er,
    altså «as is». For konkurranser som krever høyere grad av service eller kvalitetssikring, kan dette avtales direkte.
    BRUKER kan kjøpe en serviceavtale knyttet til et arrangement der hvor det er nødvendig.</p>
<p>Driften av tjenesten forutsetter driftsstøtte fra privat, nasjonalt eller internasjonalt flymiljø. Det er opp til
    Flyforbundet eller private sponsoraktører om de ønsker å støtte ASPF med drift av tjenesten til den kostpris den
    krever. Så lenge ASPF får tjenestekostnadene dekket fra eksterne sponsorer, vil Live Tracking og tilhørende
    applikasjoner være åpent tilgjengelig for alle BRUKERE som ønsker å benytte siden. Om det ikke foreligger
    driftstøtte, må ASPF ta betalt av den enkelte BRUKER for å dekke kostandene, eller det kan medføre at siden stenges.
    Siden, eller enkelte konkurranser, kan da stenges uten forbehold og ytterligere varsel! Dekning av kostnader
    omfatter blant annet drift og leie av servere, samt noe driftsvedlikehold for å holde kildekoder oppdatert til et
    teknisk minimum. ASPF vil tilstrebe å varsle BRUKER dersom nedstengning blir nødvendig.</p>
<p>Live Tracking er programmert og vedlikeholdt av én person hos ASPF. Det vil si at BRUKER er kjent med den begrensing
    og sårbarhetsfaktor dette medfører. Om ASPF ikke er i stand til å utføre endringer eller rettelser, kan det føre til
    begrensninger eller stopp av tjenesten. Live Tracking er slik den fremstår i dag «as is», og det er en forutsetning
    at ASPF har kapasitet og økonomi til vedlikehold og drift om tjenesten skal forbli til allmenn bruk. ASPF vil også
    benytte betalingstjenester for tilleggsapplikasjoner for å sikre drift ovenfor BRUKER.</p>
<h2 id="live_tracking_norwegian">Live Tracking</h2>
<p>Live Tracking er ment som en publikumsvennlig løsning for konkurranseflyging. Denne gir en direkte estimert
    resultatliste og posisjon. Den er også ment for trening eller til mer uformelt konkurransebruk.</p>
<p>Live Tracking benytter algoritmer til å innhente posisjon og beregne poengsum basert på gitte regler innen
    konkurranseflyging. Det er den lokale arrangøren av konkurransen, eller BRUKER, som har ansvaret for at de
    poengsystem og forutsetninger som er i bruk, er i tråd med konkurransens retningslinjer. ASPF tar intet ansvar for
    beregning av poengene, og BRUKER må selv sørge for å kjøre en egen kvalitetssikring av poengene. Det anbefales at
    man benytter en egen dedikert logger med programvare for å kvalitetssikre korrekt poenggivning under konkurranse.
    Live Tracking er kun en publikumsvennlig løsning for å løfte frem sporten og kunne gi et midlertidig estimat av
    poengene.</p>
<p>Ved bruk av Live Tracking blir alle aktive BRUKERE synlige på det globale kartet, så lenge BRUKER har aktivisert
    posisjonsdata fra en tracker satt opp mot serveren. Dette gir et kartbilde av alle aktive BRUKERE og er kun for
    underholdning. Selv om det globale kartet kan gi et godt bilde av bevegelsene i luftrommet, er dette under ingen
    omstendighet ment som et sikkerhetsverktøy for flytrafikkovervåking av luftrommet. Live Tracking skal derfor ikke
    brukes i regi av sikkerhetshensyn.</p>
<h2 id="gps_norwegian">GPS-tracking</h2>

<p>Live Tracking er avhengig av en GPS-mottaker som sender flyene/BRUKER sin posisjon. For å innhente posisjonen, bruker
    ASPF en plattform fra TRACCAR. Traccar er en åpen løsning for mobil GPS-sporing og du kan lese mer på
    www.traccar.org. Løsningen er hosted på en egen server (on prem) og er ikke del av noe delt system. ASPF tar intet
    ansvar for korrektheten av, behandling av eller bruken av dataene som går via tredjepartsløsning. Eksterne
    GPS-mottakere er også BRUKER sitt ansvar. En GPS-mottaker trenger internett-tilkobling og strøm, samt mulighet for å
    sende posisjonen videre. ASPF tar intet ansvar for slike eksterne enheter eller kostnader disse medfører i bruk.
    Lokal mobildekning og plassering av mottakeren kan også påvirke dataene og resultatene, og er BRUKERS ansvar. For
    BRUKERE som ønsker å benytte ekstern GPS-enhet, se egen brukerveiledning iht. tilkobling. ASPF avgir ingen personlig
    informasjon om BRUKER til eksterne sporingsenheter; disse benytter kun posisjon og id-verifisering.</p>
<h2 id="apps_norwegian">ASPF Live Tracking mobilapplikasjon (app)</h2>

<p>Mobilapplikasjonen til ASPF er bygget på Traccar sin åpne løsning. ASPF tar intet ansvar for tredjeparts løsning
    knyttet til Traccar sine systemer. Applikasjonen er en forenkling for å unngå feil i tilknytning til Live
    Tracking-systemet. Applikasjonen trenger tilgang til posisjon, GPS og mobildata for å fungere. BRUKER må godta disse
    vilkårene ved bruk av applikasjonen. Applikasjonen vil også kreve batteri og datatilgang. BRUKER må selv sørge for å
    kontrollere at telefonen har tilstrekkelig batteri, og eventuelle datakostnader som måtte medføres av bruk, er
    BRUKER sitt ansvar. ASPF tar intet ansvar for bruk av applikasjonen, og applikasjonen er kun ment som underholdning.
    Ved manglende mobildekning, forstyrrelser på signalene eller andre forhold som gir dårlig mobil- eller GPS-dekning,
    vil dette påvirke datakvaliteten og resultater kan være ubrukelige. All bruk er derfor på BRUKERS ansvar.
    Mobilapplikasjonen er kun ment som underholdning, og for dem som kun har mobiltelefon som et alternativ til tracking
    eller logging. ASPF anbefaler at det benyttes en egen dedikert logger, samt egen software for å kvalitetssikre
    resultatene.</p>
<p>Ved aktivisering vil mobilapplikasjonen sende posisjon til Traccar-serveren hos airsports.no. Applikasjonen vil
    automatisk skru av tracking 12 timer etter aktivisering. Dette for å spare batteri og av personvernhensyn ift.
    publisering av posisjon på det globale kartet. Det anbefales likevel at man skrur av tracking fysisk etter bruk.
    Applikasjonen vil også lagre dine posisjoner som filer på telefonen. Disse kan du slette fysisk når du ønsker,
    ellers lagres disse på telefonen. Loggen kan lastes opp til bruk for beregning av poeng.</p>
<p>Betaling av applikasjonen som abonnent følger vilkårene til iOS eller Android. Der er det de lokale vilkår som til
    enhver tid er gjeldende. Betalingen for applikasjonen brukes av ASPF til dekning av kostnader til utvikling samt
    vedlikehold og drift.</p>
<p>BRUKER av mobilapplikasjonen godkjenner disse vilkår.</p>
<h2 id="position_and_manipulation_norwegian">Godkjenning av GPS-posisjon og manipulasjon</h2>

<p>Bruk av ekstern tredjeparts GPS- eller mobilapplikasjoner for å dele BRUKER sin posisjon er BRUKERENS ansvar.
    Brukerne godtar at dataene blir delt på airsports.no, og aksepterer også at BRUKEREN selv er ansvarlig for alle
    tredjepartsløsninger, inklusive tredjepartsløsningen via mobilapplikasjonen som er levert av Traccar. Ved tvil er
    det BRUKER sitt ansvar å sette seg inn i vilkårene til traccar.org eller utsteder av tredjepartsløsninger. BRUKER er
    også kjent med at GPS-posisjon kan manipuleres, og ASPF tar ikke ansvar for at det kan forekomme juks/manipulasjon i
    en konkurranse. Igjen anbefales det at Live Tracking kun brukes til underholdning og backup.</p>
<h2 id="registration_norwegian">Registrering og personvern til BRUKER</h2>
<p>BRUKER som skal benytte Live Tracking til konkurranse eller trening, må registrere sin profil på airsports.no eller
    via ASPF sin mobiltelefonapplikasjon. Denne profilen vil knyttes opp mot en trackingenhet og er en forutsetning for
    funksjonaliteten til systemet.</p>
<p>Det kreves ingen sensitive personopplysninger for å registrere en BRUKER i ASPF. Informasjonen er sikret gjennom
    brukernavn og passord for endringer, men informasjonen er åpent tilgjengelig for allmennheten via resultatservice og
    konkurranser. Personopplysningene vil likevel begrenses noe i forhold til nødvendig bruk, men deler vil alltid ligge
    åpent. BRUKER som er administrator av konkurranse, vil ha tilgang til BRUKERES profiler og vil ha tilgang til å
    endre opplysningene. BRUKER godkjenner ved registrering at de opplysninger som blir gitt, kan ligge som offentlig
    informasjon, selv om ASPF vil tilstrebe at personinformasjonen vil begrenses i forhold til bruksverdi. Informasjon
    som e-post og telefonnummer vil som standard være begrenset og ikke offentlig tilgjengelig inne på ASPF. Kun de med
    arrangørrettigheter har tilgang til all informasjon inne på ASPF. Informasjonen kan dog brukes av
    tredjepartssystemer som omtalt i neste avsnitt.</p>
<p>Personopplysningene kan også bli behandlet av tredjepartssystemer i tillegg til ASPF. Dette kan være programmer for
    poengberegning i konkurranser, arrangørenes systemer eller moduler for visning av resultat, osv. ASPF er bygget på
    en åpen modell som har som mål å integreres med andre systemer innen konkurranseflygning. BRUKER godkjenner at
    informasjonen kan uoppfordret brukes overfor tredjepart og ASPF tar intet ansvar for hvordan tredjepart bruker
    informasjonen. ASPF kan kun garantere at ASPF ikke vil selge eller del personopplysninger med direkte kommersielle
    eller økonomiske hensikter.</p>
<h2 id="membership_norwegian">Medlemskap og betaling</h2>
<p>Tjenestene vil i ulik grad kreve betalt medlemskap. Medlemskapet har ulik løpetid. ASPF vil tilby tjenesten så lenge
    det er aktive abonnenter. For betalingsformidling benytter ASPF en kvalifisert tredjepart. Dette kan være via
    operativsystemer til mobile applikasjonsleverandører eller andre betalingstjenester. BRUKER er selv ansvarlig for å
    sette seg inn i den respektives retningslinjer og må ta en egen vurdering av disse, selv om ASPF vurderer dem som
    kvalifiserte og trygge.</p>
<h2 id="children_norwegian">Retningslinjer for barn</h2>
<p>ASFP er ikke en tjeneste tilrettelagt for barn under 18 år. Om noen under 18 år ønsker å benytte tjenesten som
    medlem, må de ha skriftlig samtykke fra verge eller foreldre. Oppdages det at noen under 18 år har registrert seg
    uten samtykke, kan ASPF slette brukeren og alle data. Om noen under 18 år eller foreldre lurer på noe knyttet til
    tjenesten eller informasjonen i ASPF, ta kontakt med support.</p>
<h2 id="storage_and_data_norwegian">Lagring og data</h2>
<p>ASPF vil lagre opplysningene til BRUKER så lenge BRUKER ønsker dette. BRUKER kan be om å få sin profil slettet.
    BRUKER sin profil vil da bli slettet fra ASPF, men fornavn, etternavn, e-post, fly, klubb og sporingslogger vil bli
    lagret i resultatservice. BRUKER kan imidlertid be om at sin profil blir anonymisert og da slettes navnet og e-post,
    men sporingslogg vil bli lagret av hensyn til resultatservice og konkurransen. Ønsker BRUKER at profilen skal
    fjernes eventuelt også anonymiseres, kontakt support[at]airsports.no. Under Live Tracking blir GPS-data fra
    sporingsenhet med nøkkelinformasjon lagret og vist i kartet via ASPF sin server. Dataene fra en konkurranse blir kun
    slettet om konkurransen slettes. Ved Live Tracking gjøres deler av BRUKERENS informasjon offentlig tilgjengelig på
    serveren. Dette for å vise BRUKEREN på kartet. Denne informasjonen kan hentes ut av eksterne gjennom å kopieres,
    gjøres opptak av eller gjøres om til videofiler. BRUKER er innforstått med dette, og ASPF kan ikke ta ansvar for
    hvordan eksterne tredjepart bruker informasjonen eller bevarer dataene fra Live Tracking. For mobile applikasjoner
    eller trackere kan også posisjonsdata lagres lokalt, og der er det BRUKER sitt ansvar å slette dataene. Dette gjøres
    i selve enheten.</p>
<h2 id="rights_norwegian">Rettigheter</h2>
<p>BRUKER har rett til å få informasjon om hvilke personopplysninger som behandles i ASPF sin database. Hvis BRUKER vil
    vite hvilke personopplysninger ASPF behandler om en BRUKER, kan BRUKER sende en anmodning til styret i ASPF. Hvis
    BRUKER mener at en opplysning om BRUKER er feilaktig eller misvisende, bør BRUKER ta kontakt med ASPFs styre.
    Vennligst kontakt oss på support[at]airsports.no</p>
<p>Dersom du mener at ASPF ikke har overholdt dine rettigheter i henhold til personopplysningsloven, har du rett til å
    klage til ASFP eller til Datatilsynet. Dersom informasjonen brukes av en arrangør eller tredjepartsløsning, må
    klagen rettes til arrangøren eller aktuell tredjepartsleverandør.</p>
<h2 id="security_norwegian">Sikkerhet</h2>
<p>Sikkerhet er viktig for oss, men hele Live Tracking-systemet er tilgjengelig på internett via vår server, noe som
    gjør at man kan aldri være 100 % sikret mot angrep eller misbruk. ASPF vil til enhver tid gjøre det vi kan for å
    holde sikkerheten høyest mulig, men det oppfordres til å ikke legge igjen informasjon som er av sensitiv art, eller
    benytte et svakt eller gjentagende brukernavn/passord. Det anbefales også at BRUKER skifter passord regelmessig og
    beskytter sin profil ved å kontrollere opplysningene og ikke oppgi mer enn nødvendig. Ved et data-angrep kan ikke
    ASPF garantere oppetid eller tilgjengelighet.</p>
<h2 id="external_norwegian">Eksterne tredjepartsleverandører</h2>
<p>Eksterne partnere og tredjepartsløsninger som ASPF benytter i sine systemer, er ikke ASPF sitt ansvar. Dette er
    leverandører vi har tiltro til, som brukes for å gi BRUKER den nødvendige funksjonalitet, men ASPF tar intet ansvar
    for tredjepartsleverandørs funksjonalitet, korrekthet eller behandling av dataene eller opplysninger gitt eller
    mottatt av tredjepartsleverandør. Det er fullt og helt BRUKER sitt ansvar ved å benytte ASPF sine løsninger, og med
    dette BRUKER sitt ansvar å sette seg inn i vilkårene til tredjepartsleverandører. ASPF tar heller intet ansvar for
    tilgjengelighet, oppetid eller annen drift utført av en underleverandør.</p>
<p>Dagens underleverandører er:
<ul>
    <li>Traccar, se https://www.traccar.org/</li>
    <li>Flight Contest, se https://flightcontest.de/</li>
    <li>Mobilapplikasjoner tilgjengelig via iOS og Android</li>
    <li>Amazon for serverhosting av airsports.no</li>
    <li>Microsoft Flight Simulator 2020 for simulator Live Tracking-konkurranser</li>
    <li>Lokale arrangører og administratorer av konkurranser</li>
</ul>
</p>
<h2 id="updates_norwegian">Oppdatering</h2>
<p>Disse betingelsene kan endres og oppdateres regelmessig. BRUKER må derfor sørge for å holde seg oppdatert på de til
    enhver tid gjeldende bestemmelser fra ASPF. Siste versjon er 1.1.</p>
<h2 id="contact_norwegian">Kontakt oss</h2>
<p>Har du spørsmål knyttet til våre betingelser, vennligst kontakt oss på support[at]airsports.no</p>