{% extends "base_tailwind.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
        <div class="card-body">
            <h2 class="card-title">Upload User Map</h2>
            <form method="post" class="form mt-4" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
            <div class="text-sm text-base-content/70 mt-4">
                The maximum allowed size for map uploads is 100 MB. If your map is too large, consider
                removing zoom levels or dividing it into several pieces. Experience shows that zoom level 12 is typically the best
                for navigation maps.
            </div>
        </div>
    </div>
</div>
{% endblock %}