{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="post" class="form" enctype="multipart/form-data">
        {{ form.media }}
        {% crispy form %}
    </form>
    <div class="text-muted">The maximum allowed size for map uploads is 500 MB. If your map is too large, consider
        removing zoom levels or dividing it into several pieces. Experience shows that zoom level 12 is typically the best
        for navigation maps.
    </div>
{% endblock %}
