{% extends "base.html" %}
{% block content %}
    <H1>Map permissions {{ user_uploaded_map }}</H1>
    <a href="{% url 'useruploadedmap_list' %}">Back to my maps</a>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>User</th>
            <th>View map</th>
            <th>Change map</th>
            <th>Delete map</th>
            <th>Actions</th>
        </tr>
        </thead>

        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.view_useruploadedmap }}</td>
                <td>{{ user.change_useruploadedmap }}</td>
                <td>{{ user.delete_useruploadedmap }}</td>
                <td>
                    <a href="{% url 'useruploadedmap_permissions_change' user_uploaded_map.pk user.pk %}">Change permissions</a> |
                    <a href="{% url 'useruploadedmap_permissions_delete' user_uploaded_map.pk user.pk %}">Delete permissions</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'useruploadedmap_permissions_add' user_uploaded_map.pk %}">Add permissions for new user</a>
{% endblock %}