{% extends "base_tailwind.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load lucide %}


{% block content %}
<div class="container mx-auto p-4 md:p-8">
    <div class="card bg-base-100 shadow-xl max-w-lg mx-auto">
        <div class="card-body">
            <h2 class="card-title">Manage permissions for map {{ user_uploaded_map }}</h2>
            <div class="alert alert-info mt-4">
                <div>
                  {% lucide "info" class="stroke-current shrink-0 w-6 h-6" %}
                  <span>
                    <b>View:</b> Allows the user to view the map, but not make any modifications.<br/>
                    <b>Change:</b> Allows the user to modify the map.<br/>
                    <b>Delete:</b> Allows the user to do everything, including deleting the map.<br/>
                    Assigning the permission "nothing" removes all permissions from the user.
                  </span>
                </div>
            </div>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}