{% extends "base_tailwind.html" %}
{% load static %}
{% block document_configuration %}
<script>
    document.configuration = {
        ...document.configuration,
        is_superuser: {{ user.is_superuser | lower }},
        EDITABLE_ROUTES_URL: "{% url 'editableroutes-list' %}",
        editRouteViewUrl: routeId => "/display/editableroutereact/edit/0/".replace("0", routeId), // react router url
        createTaskViewUrl: routeId => "{% url 'editableroute_createnavigationtask' 0 %}".replace("0", routeId),
        copyRouteViewUrl: routeId => "{% url 'editableroute_copy' 0 %}".replace("0", routeId),
        permissionListViewUrl: routeId => "{% url 'editableroute_permissions_list' 0 %}".replace("0", routeId),
        deleteRouteViewUrl: routeId => "{% url 'editableroute_delete' 0 %}".replace("0", routeId),
        editableRouteUrl: editableRouteId => "{% url 'editableroutes-detail' 0 %}".replace("0", editableRouteId),
        createRouteUrl: "/display/editableroutereact/create/",

        }
</script>

<link rel="stylesheet" href="{% static 'css/RouteEditorApp.css' %}">
{% endblock %}
{% block contentfull %}
<div class="row">
    <div id="root">
        <img class="centered" src="{% static 'img/loading_airplane.gif' %}" alt="loading..." />
    </div>
</div>
<script type="module" src="{% static 'js/RouteEditorApp-bundle.js' %}"></script>
{% endblock %}