{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">

            <h2>Waypoint details</h2><br/>
            Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
            <form method="post" class="form" enctype="multipart/form-data">
                {{ form.media }}
                {{ wizard.management_form }}
                {% crispy wizard.form helper %}
            </form>
            <ul>
                <li><b>Name</b>: The name of the gate</li>
                <li><b>Width</b>: Width of the gate in NM</li>
                <li><b>Time check</b>: If checked, penalties will be awarded based on crossing time</li>
                <li><b>Gate check</b>: If checked, penalties will be awarded if the gate is not crossed</li>
                <li><b>Type</b>: The type of the gate.
                    <ul>
                        <li><b>Starting point</b> is typically the first gate</li>
                        <li><b>Finish point</b>is typically the last gate</li>
                        <li><b>Turning point</b> is a regular waypoint</li>
                        <li><b>Secret gate</b> is not visible to the contestants</li>
                        <li><b>Landing gate</b> is used to time takeoffs and crosses the runway</li>
                        <li><b>Takeoff gate</b> is used to time landings and crosses the runway</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <img src="data:image/png;base64,{{ track_image|safe }}" style="padding-top: 120px;"/>
        </div>
    </div>
{% endblock %}