.gate-score-next-gate {
    font-weight: 700;
}

.gate-score-arrow {
    z-index: 2;
    width: 100%; /* Make parent take up available space */
}

.gate-arrow-shadow {
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px; /* rounding all corners now */
    width: 100%; /* Make shadow take full width of parent */
    background: #f8f4f0;
    color: #92d468;
    border: solid;
    overflow: hidden; /* Add overflow hidden to contain canvas */
}
