@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fix Leaflet tiles interacting with Tailwind's img reset */
.leaflet-pane img,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  max-width: none !important;
  max-height: none !important;
}

.cursor-grab {
  cursor: grab !important;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

/* Custom variables for React Select to ensure theme inheritance and opacity */
:root, [data-theme='light'] {
  --rs-bg: #ffffff;
  --rs-text: #000000;
  --rs-border: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'], [data-theme='aviation'] {
  --rs-bg: #1d232a;
  --rs-text: #ffffff;
  --rs-border: rgba(255, 255, 255, 0.2);
}
