.leaflet-marker-pane > * {
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
}
